[2020-06-19 08:24] thefrontendwizard opened #1 "Learn session page links dark mode styles needs adjustment"
![image](https://user-images.githubusercontent.com/1124448/85112793-80e90180-b216-11ea-8465-2fcc5f39ef4c.png)

So the selected page button is white and the link color is also white on the dark mode.

Tested it both on chrome and firefox.

[2020-06-19 09:35] thefrontendwizard opened #2 "Tutorial step 2 (Installation) instructions are slightly wrong"
The installation step suggests that after running `gatsby new mysite reflexjs/gatsby-starter-base` you're going to endup with a file structure that looks like this:
[code]
but the content directory only shows up after starting development server...

[2020-06-19 09:48] thefrontendwizard opened #3 "Tutorial step 6 also has problems with background on dark mode"
https://reflexjs.org/learn/styling

![image](https://user-images.githubusercontent.com/1124448/85119904-c1e71300-b222-11ea-811a-446dcff1ebab.png)

[2020-06-19 10:01] thefrontendwizard opened #4 "Responsiveness example is hard to see"
[code]

My guess is that this font sizes rely on a theme setting that's not there at this point of the tutorial steps and they fallback to px values, which is incredibly small and hard to see.

[2020-06-19 10:08] thefrontendwizard opened #5 "Step 8: Block"
There's no mention of the placeholder image on the text or where to put it. It might seem obvious but it might not be for everyone. There's also a change to talk about the images directory here. Should it be there or should it be alongside the block file? Those questions will naturally arise.

[2020-06-21 07:44] CompileZero opened #8 "Component Shadowing gives WebPack error"
In the theming section, I added a `theme.js` file to `/src/@reflexjs/gatsby-theme-core` and appended the code that was given in the tutorial section 4 "Theming":

[code]

But, I'm somehow getting this error:

[code]

What am I doing wrong here?

[2020-06-21 08:19] CompileZero commented on #8
Found a solution, I think, there was a `preset` variable that was missing, now my **theme.js** file looks like this

[code]

[2020-06-21 08:33] CompileZero commented on #8
This is still now working, its not giving me any error, but somehow now the entire theme is breaking.
![image](https://user-images.githubusercontent.com/43912105/85220301-01029900-b3c8-11ea-9023-30fcaf96ea44.png)

[2020-06-21 08:42] arshad commented on #8
The default styles depend on the base preset. You can add it as follows:

[code]

More in the docs: https://reflexjs.org/docs/presets#base

Let me know if this works.

[2020-06-21 08:47] CompileZero commented on #8
Yes, It's working now! Thanks for the fast reply! Subbed on Twitter!:)

[2020-06-21 08:47] #8 closed

[2020-06-21 09:08] arshad commented on #8
Thanks. You're probably among the first ones building with Reflex. So all feedback welcome. Feel free to reach out.

[2020-06-25 13:34] arshad commented on #1
Fixed in https://github.com/reflexjs/reflex/commit/ac337d4d71f256cca67c6cd039b538cff5e13367. Thank you.

[2020-06-25 13:34] #1 closed

[2020-06-25 13:35] arshad commented on #2
Nice catch. I've updated the docs in https://github.com/reflexjs/reflex/commit/a82afd687a3539ba13ae201716843d5840c8d64b. Thank you.

[2020-06-25 13:35] #2 closed

[2020-06-25 13:35] arshad commented on #3
Fixed in https://github.com/reflexjs/reflex/commit/a82afd687a3539ba13ae201716843d5840c8d64b. Thank you.

[2020-06-25 13:35] #3 closed

[2020-06-25 13:37] arshad commented on #4
Agreed. I've updated this. Thank you.

[2020-06-25 13:37] #4 closed

[2020-06-25 13:38] arshad commented on #5
I added a link to read more on images. I think this works for now.

[2020-06-25 13:38] #5 closed

[2020-06-26 16:06] TanviPriyadarshini opened #10 "Team section not working"
[https://codesandbox.io/s/github/TanviPriyadarshini/reflexjs-test](url)

Tried implementing one of the team blocks but doesn't work.

[2020-06-26 16:18] jacine commented on #10
Hi @TanviPriyadarshini!

I just took a look at your code. Looks like you just need to adjust the way you are referencing the blocks in your `content/pages/index.mdx`. The block should be referenced without the path:

[code]

PS - The header and footer are automatically added to the page, so you don't need to add these.

HTH,
Jacine

[2020-06-30 06:12] arshad commented on #10
@TanviPriyadarshini did you figure this out? Happy to help if you have any other questions.

[2020-06-30 18:36] TanviPriyadarshini commented on #10
@jacine Thanks for your help, works for me now!
@arshad works now thanks

[2020-06-30 18:36] #10 closed

[2020-06-30 23:24] markmctamney opened #11 "Imported MDX breaks on empty lines"
Given MDX like:

[code]

If I use this code directly in the `content/pages` folder, it displays as expected.  But if I move the code to `content/blocks/example.mdx` and use `<Block src="example" />` on a page, then all that displays is the first line of MDX (the `# Title for this section`).  All of the subsequent text is getting chopped off without any error or message why.  Same thing happens if

[2020-07-01 05:29] arshad commented on #11
Oh I've seen this too. Looking into it. Probably something to do about how we are importing blocks.

[2020-07-01 13:55] arshad commented on #11
Found a fix. I'll tag a new release. As a temporary fix you can wrap the markdown in a `Div`:

[code]

[2020-07-02 01:35] markmctamney commented on #11
Awesome! Yeah I ended up finding something pretty similar to patch it for now.  So not a huge thing and I'll keep an eye out for the release.  But pretty smooth sailing other than that and already found this super useful.  Looks like a bunch more cool stuff coming too so I'm looking forward to following along and seeing where it goes. Keep up the good work! :)

[2020-07-05 22:33] larsroettig opened #12 "All examples should follow Google accessibility rules"
Example-Url:
- https://reflexjs.org/library/blocks/header-01

### Currrent

[code]

### Expected
[code]

### Screenshot
![Screenshot at 00-33-25](https://user-images.githubusercontent.com/5289370/86543590-58544d80-bf20-11ea-9abb-78967c855cff.png)

## Resources
- https://developers.google.com/web/fundamentals/accessibility/semantics-aria/aria-labels-and-relationships
- https://developer.mozilla.org

[2020-07-06 05:24] arshad commented on #12
Hmm it looks like this might be coming from the actual site and not the block example.

I see a few a11y issues with the copy code button and forms let me fix this.

[2020-07-06 17:51] arshad commented on #11
@markmctamney Tagged a new release with the fix. Let me know if this works. Thank you.

[2020-07-06 19:02] arshad commented on #12
OK I fixed this and also added a11y tests to make sure other pages are accessible too.

https://github.com/reflexjs/reflex/blob/master/sites/www/cypress/integration/a11y.spec.js
https://github.com/reflexjs/reflex/blob/master/sites/www/cypress/fixtures/a11y-pages.json

Thank you. This is a nice fix. Appreciate the help.

[2020-07-07 21:19] markmctamney commented on #11
Yep!  All good, everything working as expected now.  Thanks a bunch for the quick fix.

[2020-07-08 03:54] #11 closed

[2020-07-10 00:04] mattmaker opened #13 "How do I add a logo to the header?"
1. Uploaded the file `logo.png` to the `content/images` folder.

2. Added `logo: "/content/images/logo.png"` to the `siteMetaData` in `gatsby-config.js`

3. Opened `content/blocks/header.mdx` and changed the following:
![Screen Shot 2020-07-09 at 5 02 14 PM](https://user-images.githubusercontent.com/3858718/87102193-fd637480-c205-11ea-925d-bc0cf9315009.png)

Instead of displaying the logo, it hide

[2020-07-10 01:01] jacine commented on #13
Hi @mattmaker,

Did you try using the [image component](https://reflexjs.org/docs/images#local-images)? You should be able to use:

[code]

Let us know how it goes!

Jacine 🙂

[2020-07-10 22:23] mattmaker commented on #13
The image component isn't working with a local path. Only with a URL :(

[2020-07-10 22:35] mattmaker commented on #13
Fixed! I realized that the logo image was too big so I just added ` width="100px"` and it works now 😅

[2020-07-10 22:35] #13 closed

[2020-07-10 22:57] mattmaker opened #14 "Custom theme not working"
I created a `theme.js` file in this path `src/@reflexjs/gatsby-theme-base` and copied the example theme into it.

![Screen Shot 2020-07-10 at 3 53 10 PM](https://user-images.githubusercontent.com/3858718/87209222-f439dc80-c2c5-11ea-8f61-1e59a25fc960.png)

But when I change any of the styles, they don't change on the site.

What am I doing wrong?

[2020-07-11 03:38] arshad commented on #14
Hmm this looks correct. Did you try a `gatsby clean && gatsby develop`?

[2020-07-11 03:38] #12 closed

[2020-07-12 05:04] mattmaker commented on #14
I tried that and it's breaking all the styles of the page like this:

![reflexjs](https://user-images.githubusercontent.com/3858718/87239292-6a236e00-c3c2-11ea-8f09-f6094f5e10f0.png)

[2020-07-12 05:17] arshad commented on #14
Oh you need to extend base then. Can you try the following:

[code]

See https://reflexjs.org/docs/presets#base

[2020-07-12 05:18] arshad commented on #14
Tip: when styling your components, the theme reference page might come in handy: https://reflexjs.org/theme

[2020-07-13 05:10] mattmaker commented on #14
That worked! Thanks :)

[2020-07-13 05:10] #14 closed

[2020-07-17 08:40] coolpinkzz opened #17 "How to add my own custom font in my code"

[2020-07-17 22:09] marcysutton opened #19 "Accessibility of navigation menu"
Hey there, this is a cool project! I was testing out the examples and you've already done some great stuff for accessibility. I found a couple of things I'll file as separate issues, starting with the navigation menu: it only expands the submenus for mouse users, but also needs to support the keyboard and screen readers.

There are a couple of options for making it work, such as having a parent el

[2020-07-18 04:08] arshad commented on #19
This definitely needs some work. Thanks for the pointers. I’m going to give this a try.

Thank you so much @marcysutton

[2020-07-19 16:55] coolpinkzz commented on #17
i have my own css styled font is there any way to add custom css font in my app?

[2020-07-19 16:57] coolpinkzz commented on #17
or i need to add my font  in https://github.com/KyleAMathews/typefaces here ?

[2020-07-19 17:12] arshad commented on #17
No you can use self-hosted fonts. Take a look at this plugin: https://www.gatsbyjs.org/packages/gatsby-plugin-web-font-loader/

[2020-07-24 06:03] arshad commented on #17
@coolpinkzz did you figure this out?

[2020-07-26 10:22] uschtwill commented on #14
Thanks @arshad for this project, this is truly awesome!

Would you mind adding this to step 7 of the tutorial (https://reflexjs.org/learn/theming)?

[2020-07-26 12:15] arshad commented on #14
Thanks. I'll update the docs.

[2020-07-27 11:56] coolpinkzz commented on #17
yes Thanks

[2020-07-27 11:58] coolpinkzz opened #21 "am not able to setup headway app in my reflexjs app"

[2020-07-27 13:08] arshad commented on #21
What have you tried so far?

[2020-07-27 17:09] coolpinkzz commented on #21
According to Docs  https://docs.headwayapp.co/widget i paste this below code inside head tag and selector as Footer

<script src="//cdn.headwayapp.co/widget.js"></script>
<script>
  var config = {
    selector: "Footer",
    account: "ACCOUNT_ID"
  };
  Headway.init(config);
</script>

then for styling i paste this below code in theme.js file
var HW_config = {
  selector: ".CHANGE_THIS",
  account

[2020-07-27 17:11] coolpinkzz commented on #21
also it worked in my react app but not in reflex

[2020-07-27 17:11] #17 closed

[2020-07-27 17:24] arshad commented on #21
Can you try `footer` instead of `Footer`?

If this does not work, you can add an id to the footer and use this as the selector.

[code]

The use `#footer` as the selector.

[2020-07-29 08:16] coolpinkzz commented on #21
i tried this but in console it is showing
![headway](https://user-images.githubusercontent.com/52915014/88775074-e3cca180-d1a1-11ea-833f-aa74bebc44ab.png)

[2020-07-29 21:17] diederikproot opened #22 "📝 pageQuery example"
Hello,

I think I stumbled upon a typo in the example query. You can find it on the following URL: https://reflexjs.org/docs/video-configuration

=> the "allvideo" should be "allVideo".

![image](https://user-images.githubusercontent.com/37147506/88854464-98da7a80-d1f1-11ea-988e-20c570b5ce82.png)

[2020-07-29 23:04] diederikproot opened #23 "📝 blocks video 3 - import container"
Hello,

in the following URL :
https://reflexjs.org/library/blocks/videos-03

the "Container" component is not imported. In source of the block.

(when you copy-paste the ''src/@reflexjs/gatsby-theme-video/videos.js'' file)

![image](https://user-images.githubusercontent.com/37147506/88862371-6f751b00-d200-11ea-9f1b-8c1deed47d37.png)

[2020-07-30 07:33] arshad commented on #23
Fixed. Thank you 👍

[2020-07-30 07:33] #23 closed

[2020-07-30 07:33] arshad commented on #22
Nice catch. I updated the docs. Thank you.

[2020-07-30 07:33] #22 closed

[2020-07-30 11:21] amanbhattarai4400 opened #24 "Load Disqus Commenting System on Click"
I was able to add disqus plugin by following this article, [https://reflexjs.org/docs/blog-recipes#add-disqus](https://reflexjs.org/docs/blog-recipes#add-disqus), however, my page performance reduced. Is there a way to load disqus on click?

[2020-07-31 10:11] arshad commented on #24
I don't use disqus much but see if this helps: https://w3bits.com/load-disqus-on-click/

[2020-08-01 11:18] amanbhattarai4400 commented on #24
Sure, thanks.

[2020-08-01 11:26] amanbhattarai4400 opened #25 "Avoid Bad Request Problem in GTMetrix"
Yesterday, I deployed my site on Netlify and ran performance testing in GTMetrix. I got this issues:

![bad request issue](https://user-images.githubusercontent.com/41770152/89100784-d0c40680-d419-11ea-8dc0-b92f7e6bc6ee.png)

Am I missing something?

[2020-08-02 04:30] woosungchoi opened #26 "Add next post and previous post feature"
I like the ability to view the next and previous posts. So it would be nice if reflex also had this feature.

[2020-08-02 14:17] colinrim opened #27 "Custom NavMenu link styles"
Any chance to pass custom link-styles such as `color="#ffffff"` all the way down to `<NavMenuLink>`?
Goal would be to to get a custom header with different link-text-colors other to base-theme values.
Thanks for your time.

[2020-08-02 14:38] arshad commented on #26
You can add this by creating a `post-footer.mdx` block and add the pager there.

`post-footer.mdx` is a special block that is automatically rendered by the `post-template.js` file. It receives the same props as `post.js`.

Similarly you can create `posts-header.mdx, posts-footer.mdx, post-header.mdx and post-footer.mdx`. See https://reflexjs.org/docs/blog-custom-page#add-header-and-footer

I've up

[2020-08-02 14:45] woosungchoi commented on #26
thx!

[2020-08-02 14:45] #26 closed

[2020-08-02 15:22] arshad commented on #27
You can do it using the `sx` property for now.

Here I'm setting `a` to be always `black`.

[code]

We are going to break `NavMenu` into smaller components which should make customization a bit easier.

[2020-08-02 15:23] arshad commented on #27
You could also shadow `src/@reflexs/gatsby-theme-nav/nav-menu.js` and add the custom styles in there.

[2020-08-02 15:24] arshad commented on #21
OK. I'm going to sign up for a Headway account and test this. I'll let you know.

[2020-08-02 15:40] colinrimann commented on #27
Thanks for your reply.
Passing `sx` prop with styles does the trick. but this also sets color for `popup-submenus` which is not desirable.
Sorry, what do you mean with `shadowing` the source file out of `node_modules`?

[2020-08-02 16:22] #27 closed

[2020-08-03 04:30] amanbhattarai4400 opened #28 "Previous and Next Pager Not Showing Up"
I am unable to add Prev and Next Pager. I did npm update `@reflexjs/gatsby-theme-post` and followed this guide:

[https://reflexjs.org/docs/blog-recipes/#previous-and-next-pager](https://reflexjs.org/docs/blog-recipes/#previous-and-next-pager)

![Screenshot 2020-08-03 09:01:05](https://user-images.githubusercontent.com/41770152/89146013-24e1fe80-d572-11ea-99b4-b9dfd9c2fe2e.png)

[2020-08-03 05:35] arshad commented on #28
Can you paste in the whole content of `post-footer.mdx`?

There's an issue in MDX where leaving spaces between lines causes an error. Make sure you don't have spaces between your JSX.

[2020-08-03 05:36] arshad commented on #25
It looks like Gatsby is looking for page `/item-one` and it's not there. Can you check your content (most probably an href) linking to these pages?

[2020-08-03 11:02] amanbhattarai4400 commented on #28
[code]

[2020-08-03 11:54] amanbhattarai4400 commented on #25
I didn't find any "href" pointing to above pages.

However, I think there's some issue with featured post on homepage, because one of the post "7 Tips To Improve Your Writing" has `featured:false` but it is showing up on homepage. I have other 3 posts with `featured:true`

Site is live at : https://mytwistblogg.netlify.app/

Here's the repo link for posts: https://github.com/twistblogg/website/tre

[2020-08-03 12:12] #25 closed

[2020-08-03 18:13] JonathanPeterRajan opened #29 "Unable to install tailwind css"
Great project! For my plan, I plan to make a box which has buttons containing the tags for the main page of my blog. I am not too familiar with React, so I thought it would be easier if I use Tailwind CSS. However, following the guide on the Gatsby Docs, my installation corrupts the website and shows error messages.
I would appreciate if you how you would install tailwind or any other css platform

[2020-08-03 18:24] arshad commented on #29
Sure.

Can you paste the error messages here please?

I'll take a look at how we can add Tailwind and update here.

[2020-08-03 18:31] arshad commented on #28
Can you try the following:

[code]

[2020-08-03 18:37] JonathanPeterRajan commented on #29
ReferenceError: exports is not defined
./node_modules/@reflexjs/gatsby-plugin-metatags/gatsby-browser.js
node_modules/@reflexjs/gatsby-plugin-metatags/gatsby-browser.js:5

  2 | const withDefaults = require("./options")
  3 | const { MetatagsDebugger } = require("./src/metatags-debugger")
  4 |

  6 |   const { debug } = withDefaults(options)
  7 |   return (
  8 |     <React.Fragment>

__webpack_

[2020-08-03 18:55] JonathanPeterRajan commented on #29
Sorry if my issues/questions are dumb, do actually need something like tailwind/bootstrap css to easily make something like this or is it somewhat very doable using reflexjs as well? I have just started learning React, so building something like that feels a bit daunting to me.
![tagsblog](https://user-images.githubusercontent.com/62900297/89216730-d90b7580-d5c2-11ea-9ab4-dbe01e0870ed.png)

[2020-08-03 19:27] arshad commented on #29
We can definitely do this in Reflex. Hold on.

[2020-08-03 19:53] arshad commented on #29
### Step 1: Create a hook to retrieve post tag data.

Let's create a hook that is going to make a GraphQL query to get the post tags with post count.

Create the following file: `src/use-post-tags.js` with the following:

[code]

We can now use `usePostTag()` to get an array of tags with the post count.

### Step 2: Create the posts header block

If you create a `posts-header.mdx` block, Reflex wi

[2020-08-03 21:13] JonathanPeterRajan commented on #29
Hi, thank you so much for your support. I now have a working tags menu! Also, I have realised that the styling on Reflex is good enough that there is not much point going through the hassle to install tailwind. Thank you once again.

[2020-08-03 22:17] JonathanPeterRajan commented on #29
Hi, I used this post block -> https://reflexjs.org/library/blocks/posts-02
After following the steps, after I click on a post from the blog page an error comes up
![Screenshot_2020-08-03 Reflex Reflex](https://user-images.githubusercontent.com/62900297/89232345-2ac1f900-d5df-11ea-8753-41c958e0b805.png)

Also, the tags menu box disappears.
![Screenshot_2020-08-03 Reflex Reflex(1)](https://user-imag

[2020-08-04 02:43] amanbhattarai4400 commented on #28
Its not showing up yet.

[2020-08-04 02:58] amanbhattarai4400 commented on #28
I tried to add tags counter following this issue: https://github.com/reflexjs/reflex/issues/29 but the `posts-header.mdx` was not visible as well.

[2020-08-04 05:43] arshad commented on #28
Can you try removing `npm remove @reflexjs/gatsby-theme-post` and install it again?

[2020-08-04 05:45] arshad commented on #29
It looks like you're setting a custom slug for the post? Can you try going to `/title-of-the-post.html` and check if you can see the blog post?

[2020-08-04 08:05] JonathanPeterRajan commented on #29
I added this to the slugresolver inn the gatsby-config.js file :         slugResolver: (node, parent, basePath) =>
        `${toSlug(node.frontmatter.title)}.html`,
I did that since otherwise only the tags writing and stories would show up in the tag counter. If I go to my post.mdx file and change the tag to something else, I get an error.

I went to /title-of-the-post.html and it foes show the bl

[2020-08-04 08:16] arshad commented on #29
I see. If you're providing your own `slugResolver` there are some gotchas you'll need to watch for.

If everything is looking good here, let's close this issue.

Feel free to open new one if you have any other question.

[2020-08-04 08:54] amanbhattarai4400 commented on #28
I did that and updated `npm update @reflexjs/gatsby-theme-post`, however, I got this error while using `gatsby develop`.

![theme](https://user-images.githubusercontent.com/41770152/89274113-33a6df00-d660-11ea-8baf-ba6f056e6453.png)

Error:

[2020-08-04 09:38] amanbhattarai4400 commented on #28
I'm getting this error :

![Screenshot 2020-08-04 15:22:13](https://user-images.githubusercontent.com/41770152/89278936-77044c00-d666-11ea-94ef-3aa12cd0fb51.png)

[2020-08-04 10:46] #29 closed

[2020-08-04 10:58] JonathanPeterRajan opened #30 "Tags selector menu for blog posts not working"
![Screenshot_2020-08-04 Reflex Reflex](https://user-images.githubusercontent.com/62900297/89286065-77421e80-d649-11ea-8bbc-d757c7aec384.png)
![Screenshot_2020-08-04 Reflex Reflex(1)](https://user-images.githubusercontent.com/62900297/89286069-790be200-d649-11ea-9253-28b17a8499e9.png)
As shown from the images, after you click on a tag, it directs you to another page. In that none of the posts with

[2020-08-04 10:59] arshad commented on #30
Can you try a `gatsby clean && gatsby develop` please?

[2020-08-04 11:12] amanbhattarai4400 commented on #24
Maybe this can help someone later.

The files are loaded upon click. Can you verify once @arshad ?

[code]

[2020-08-04 11:13] amanbhattarai4400 commented on #24
Maybe this can help someone later.

The files are loaded upon click. Can you verify once @arshad ?

[code]

[2020-08-04 11:16] JonathanPeterRajan commented on #30
The problem still persists

[2020-08-04 18:04] arshad commented on #30
Hmm, kinda hard to debug this without seeing the code but let's try a few things.

Can you paste in the frontmatter for one of the posts please?

[2020-08-04 18:08] arshad commented on #28
@amanbhattarai4400 Did you figure this out? Did this start happening after the gatsby-theme-post update?

[2020-08-04 18:09] arshad commented on #24
Looks good. Thanks for posting the solution @amanbhattarai4400. Appreciate it.

[2020-08-04 18:09] #24 closed

[2020-08-04 18:44] JonathanPeterRajan commented on #30
the mdx file for the post is :
---
title: Tit
excerpt: A short description for this post.
date: 2020-07-08
image: cover-image-for-post.jpg
caption: Caption for the cover image
published: true
featured: true
author:
tags:
  - Writing
  - Life
  - Technology
---

Post content goes here.
<Button>Technology</Button>

[2020-08-04 18:45] JonathanPeterRajan commented on #30
The code for the tag button selector (which you made for me):
import { useStaticQuery, graphql } from "gatsby"

export const usePostTag = () => {
  const data = useStaticQuery(graphql`
    query {
      # Find all post tags, return the name and slug fields.
      allPostTag {
        nodes {
          name
          slug
        }
      }
      # Find all posts grouped by the tag slug and return t

[2020-08-05 02:58] mattmaker opened #31 "Typeface fonts not working"
I followed the steps in the "How to add custom fonts" video.

But when I run `npm i typeface-prata` I get the following error:

[code]

Any idea how I can get it to work?

[2020-08-05 04:41] amanbhattarai4400 commented on #28
I tried every possible options, but none of them seemed to work. Then I created a new Base Starter and shifted everything there, and installed previously installed plugins.

Now, everything runs smoothly, no errors and prev-next pager is showing up as well. Maybe that project got corrupted.

Thanks :)

[2020-08-05 04:41] #28 closed

[2020-08-05 04:50] amanbhattarai4400 opened #32 "Add Related Post Feature"
I tried to create a related post widget below every post by following the guidance from previous-next pager feature. However, I couldn't extract anything. Can you please show me how to achieve this?

Since, we can add multiple tags in a post, generating related articles can be tricky. However, I'll be fine to generate based on first tag.

Here's what I'm expecting:

![relatedpost](https://user-ima

[2020-08-05 05:38] amanbhattarai4400 opened #33 "ScrollBar Color Changing Based on Mode Toggle"
I am able to change scrollbar color with external CSS code, however, I want to change scrollbar color based on light and dark mode. I saw https://www.cassie.codes/ and she has managed to achieve this.

Is it possible in ReflexJS?

[2020-08-05 08:01] arshad commented on #31
Seems to be a common issue: https://github.com/gatsbyjs/gatsby/issues/19827

1. Delete node_modules directory.
2. Remove package-lock.json.
3. Reinstall: `npm i`

Can you try this and see if it works?

[2020-08-05 08:02] arshad commented on #32
So you want a block with posts under the same tag? Sort by date and take the top 3?

[2020-08-05 08:18] arshad commented on #33
Yes you can do this.

[code]

PS: It's just Reflex no JS :D

[2020-08-05 09:55] amanbhattarai4400 commented on #32
It will be a related posts plugin and I'm planning to place it at the end of every posts. So, it will filter articles based on first tag (if multiple present) and display as "Recommended Articles".

Here's an example, https://later.com/blog/brands-on-instagram-reels/ (Scroll down till you reach **You may also like** )

And please a full width display.

It can be a "post-footer.mdx" blog.

[2020-08-05 10:07] amanbhattarai4400 commented on #33
Wow, never realized it was that simple playing with CSS. Thanks, it worked :)

[2020-08-05 10:07] #33 closed

[2020-08-05 10:23] amanbhattarai4400 opened #34 "@reflexjs/gatsby-plugin-metatags not functioning properly"
I recently transferred my project to new starter and installed previous plugins. However, `gatsby-plugin-metatags` seems to not functioning properly.

This is one of my post and when I turned on `debug:true`, I noticed it is taking default title.

![Screenshot](https://user-images.githubusercontent.com/41770152/89401744-7f778800-d735-11ea-98bd-e4a1738ce0b3.png)

Here's my config file for this plug

[2020-08-05 10:27] arshad commented on #34
Ah this is a known bug (regression probably). We are working on fixing this.

For now you can fix this by prefixing your `types` with `Mdx`. Example: `MdxPage`, `MdxPost` ...etc

[2020-08-05 10:50] amanbhattarai4400 commented on #34
Yea, that seems to fix the issue. Thanks :) Once any update is out for this bug, please re-open and notify.

[2020-08-05 10:50] #34 closed

[2020-08-05 11:10] coolpinkzz commented on #21
any updates @arshad  ? please tell how to integrate thirdparty in reflex.js  ?

[2020-08-05 13:57] arshad commented on #21
OK I created an account to test this. Seems to be working.

## Step 1: gatsby-ssr.js

Add the following to a file called `gatsby-ssr.js` (root of your site).

[code]

## Step 2: gatsby-browser.js

Add the following to `gatsby-browser.js`

[code]

I'm using `#branding` as selector here since I added a branding id to my `header.mdx`. This renders the widget next to the site name.

[code]

## Preview

[2020-08-05 15:54] coolpinkzz commented on #21
Done Thank you so much ❤️

[2020-08-05 16:57] arshad commented on #21
You're welcome. I'm going to close this ticket. Feel free to create new ones if you have any other question. Looking forward to your site launch 🚀

[2020-08-05 16:57] #21 closed

[2020-08-06 07:34] arshad commented on #32
OK let's give this a try:

## Step 1: Create `related-posts.mdx` block

We retrieve all posts using `usePost` then we filter the posts with similar tags and filter out the one with same slug (to not show the post we are viewing).

[code]

## Step 2: Create `post-footer.mdx` block

We call our related posts block in the post footer and pass the slug and tags to it.

[code]

## Demo

<img width="134

[2020-08-06 09:42] amanbhattarai4400 commented on #32
First of all, thank you so much. It is working but I have some few queries:

1) So sometimes a tag auto disappear from blog post and I need to do `gatsby clean` for getting it back. I noticed this feature generates an error "**Cannot read property map of null**" when tags are not visible. Can we overcome that ?  Maybe it has to do something with this line :  `if (!relatedPosts.length) return null`

[2020-08-06 10:15] arshad commented on #32
I've updated the code:

1. Added a check for empty tags.
2. Added a `limit` props with default.
3. You can do this using `aspectRatio`. See https://reflexjs.org/docs/images#aspect-ratio
4. Gatsby will handle this for you using a few techniques including lazy loading.

## Updated code

[code]

[2020-08-06 11:11] amanbhattarai4400 commented on #32
Thanks but I'm getting this error now,

**Cannot read property "length" of null**

![Screenshot (1)](https://user-images.githubusercontent.com/41770152/89525333-c0d76880-d805-11ea-9889-9a32be3c3dc0.png)

[2020-08-06 11:26] arshad commented on #32
Remove .length `if (!tags) return null`

[2020-08-06 11:44] amanbhattarai4400 commented on #32
It didn't showed any errors now, however, related posts are not visible.

[2020-08-06 15:05] amanbhattarai4400 commented on #32
Every-time I need to perform `gatsby clean` for tags and this features to be visible. Maybe that's some bug -- tags auto disappearing.

[2020-08-07 04:14] amanbhattarai4400 opened #35 "Mailchimp Integration With Current Form Blocks Available"
Recently, I tried to integrate MailChimp API to already existing form block from ReflexJS in my blog, however I'm not able to display success and error message on Submission.

Here's what I've done so far.

1) Installed the plugin and setup in `gatsby-config.js`

2) Created a New Subscribe Component in `src/@reflexjs/components`. Here's my `Subscribe.js` file:

[code]

And I imported `import Subsc

[2020-08-10 00:13] mattmaker commented on #31
I actually ran `yarn add typeface-prata` and it worked.

[2020-08-10 00:13] #31 closed

[2020-08-10 00:18] mattmaker opened #36 "Change width of theme"
How can I change the width of the entire theme?

I tried looking for a `<Container>` component to shadow but couldn't find one.

[2020-08-10 05:21] arshad commented on #36
You can change/style any component in your `theme.js` file as follows:

(Use the component name in lowercase: `Container` = `container` and `H1` = `h1`)

[code]

This is called variants. You can read more on variants in the doc: https://reflexjs.org/docs/theming-styling#variants

[2020-08-10 05:24] arshad commented on #35
is `addToMailchimp` not called at all?

Can you try with:

[code]

[2020-08-10 05:24] #32 closed

[2020-08-10 13:54] amanbhattarai4400 commented on #35
Its working now, I removed the plugin and reinstalled everything with above change, and is now successfully delivering the details.

So, my other question is:

Can I import and add it to a separate page (for instance, `/newsletter`)?

I'm getting path error while trying to import and use `<Subscribe />`.

`Subscribe.js` is located in `src/@reflexjs/components` and `/newsletter` is a normal page.

[2020-08-10 19:16] arshad commented on #35
You don't really need to place it inside `src/@reflexjs/components`. Your custom components can go inside `src`.

Place your file at `src/Subscribe.js`.

Then include it in your page as follows:

[code]

[2020-08-10 20:46] mattmaker commented on #36
Thanks!

[2020-08-10 20:46] #36 closed

[2020-08-11 04:43] amanbhattarai4400 commented on #35
Thanks, it worked :+1:

[2020-08-11 04:43] #35 closed

[2020-08-11 04:49] amanbhattarai4400 opened #37 "Easy way to insert Customized Tables"
Hello,

I've been using external CSS file to style table currently. Is there any easy way to dynamically insert a table with customized design? Something like a block and insert values dynamically?

[2020-08-11 05:24] arshad commented on #37
You can either use Markdown tables and style those in your `theme.js` file:

[code]

or create a block and add the styles on the block like this: https://codesandbox.io/s/jolly-surf-rdses?file=/content/pages/index.mdx

[2020-08-11 09:40] amanbhattarai4400 commented on #37
Thank you. It was helpful.

[2020-08-11 09:40] #37 closed

[2020-08-13 06:24] amanbhattarai4400 opened #38 "Adding Schema.org, Twitter Cards and JSON+LD"
I read somewhere we can configure Schema.org using React Helmet. Is it true that ReflexJS Starter uses RH? How to add that data in config.js and add schema.org and JSON+LD for my website?

Also, I'm getting this message while checking for SEO :

Thank you.

[2020-08-14 11:15] amanbhattarai4400 opened #39 "Tags Auto Removes on Incremental Builds With Netlify"
So, I added incremental builds in Netlify and tags are getting removed after pushing from Github. Because of that, Related posts feature are also not visible.

Is there a fix? Thank you.

[2020-08-14 17:08] arshad commented on #39
Hmm. I'll see if I can reproduce this. So builds work but incremental builds fail?

[2020-08-15 04:55] amanbhattarai4400 commented on #39
No incremental builds are working fine, however, the tags are not appearing in posts and thereby related post feature(which I added) are no longer visible as well.

The tags were working on Gatsby build in my local machine. However sometimes they disappeared and I had to perform `gatsby clean`.

In short, tags are auto disappearing.

[2020-08-16 08:47] JonathanPeterRajan opened #40 "Generating SSR bundle failed"
During gatsby develop, I got this error
 ERROR #98123  WEBPACK

Generating SSR bundle failed

Unexpected token (17:6)

File: node_modules/@reflexjs/gatsby-plugin-image/src/image.js:17:6

not finished Generating image thumbnails - 40.267s

I have tried doing gatsby clean but the problem persists

File: node_modules/@reflexjs/gatsby-plugin-image/src/image.js:17:6
import * as React from "react"
impor

[2020-08-16 16:13] arshad commented on #40
Seems to be a common issue. Can you try removing `node_modules` and run `npm install` or `yarn` again?

[2020-08-16 16:19] arshad commented on #38
Yeah the meta tags package uses React Helmet. See https://github.com/reflexjs/reflex/blob/master/packages/gatsby-plugin-metatags/src/metatags.js#L26

To add JSON+LD support you will need to shadow this component and add it.

We might support it in the future but not right away.

[2020-08-16 16:48] woosungchoi opened #45 "[Feature Request] react-medium-image-zoom"
I think it’s good to put the image zoom function. Here are the resources.

(1) package: react-medium-image-zoom

https://www.npmjs.com/package/react-medium-image-zoom

(2) In Gatsby example code :

https://github.com/narative/gatsby-theme-novela/blob/master/%40narative/gatsby-theme-novela/src/components/Image/Image.Zoom.tsx

(3) In Gatsby page

https://novela.narative.co/Understanding-the-Gatsby-l

[2020-08-17 04:42] amanbhattarai4400 commented on #38
Thanks, I shadowed the component. However, I'm not able to add one. I went through this : https://github.com/LeKoArts/gatsby-starter-prismic/blob/master/src/components/SEO/SEO.jsx , that describes adding Schema and BreadCrumb.

[2020-08-17 05:41] arshad commented on #38
Are you seeing any errors? What have you tried?

[2020-08-17 06:17] amanbhattarai4400 commented on #38
Yes, `./use-metatags` not defined, and so on.

[2020-08-17 06:30] arshad commented on #38
You'll need to update the import paths. Example

[code]

[2020-08-17 07:24] amanbhattarai4400 commented on #38
Thanks, all undefined errors are gone. So, I've added following JSON element.

[code]

And in return,

[code]

It is working fine for Homepage, now for posts, I need to convert type to `Article` and insert `author`, `publisher`, `modified_date`,`published_date` and `image` as in following link : https://github.com/LeKoArts/gatsby-starter-prismic/blob/master/src/components/SEO/SEO.jsx#L89

Is there

[2020-08-17 07:26] amanbhattarai4400 commented on #40
I won't consider this as solution, however, I had to shift my whole project in new directory and the error was resolved.

[2020-08-17 11:55] #45 closed

[2020-08-17 16:13] JonathanPeterRajan commented on #40
Hi, thank you both for the suggestion.
I tried removing node_modules and running npm install first and it fixed my problem.

[2020-08-17 16:13] #40 closed

[2020-08-17 16:20] JonathanPeterRajan commented on #30
Hi, I tried to use the source code for the example Wildlife blog you have made, so that when I click on the name of the tag in the navbar or in the tag selector in the blog page, it should go to a separate page which only displays the posts that has the selected tag.
I do not understand why it is not working for me since everything but the design is the same.
Thank you for creating this great proj

[2020-08-17 16:59] arshad commented on #30
Do you see any errors when you click on the tag in the navbar? Is it a page not found?

[2020-08-17 17:54] JonathanPeterRajan commented on #30
Thank you for your reply
There are no errors. The page only has the name of the tag as a header and that's it.
An example is the second picture in the original post of this thread.

[2020-08-17 18:02] arshad commented on #30
Hmm it looks like the either tags are not being created or not posts not associated with tags. Can you check if there are `PostTag` nodes in GraphQL?

1. With `gatsby develop` running, open `http://localhost:8000/___graphql`
2. Paste the following query and press run.

[code]

Do you see the tags returned? You should see something like this:

[code]

[2020-08-17 18:07] JonathanPeterRajan commented on #30
Hi, the tags are being returned.
![image](https://user-images.githubusercontent.com/62900297/90429002-ca41ba00-e0bc-11ea-9753-c5786dc493e5.png)

[2020-08-17 18:23] arshad commented on #30
Can you run the following and see if `Post` are being linked to `PostTag`?

[code]

[2020-08-17 18:27] JonathanPeterRajan commented on #30
{
  "data": {
    "allPost": {
      "group": [
        {
          "fieldValue": "Life",
          "edges": [
            {
              "node": {
                "title": "Title of the Post"
              }
            },
            {
              "node": {
                "title": "Title of the Post"
              }
            },
            {
              "node": {
                "title"

[2020-08-17 18:30] arshad commented on #30
Yeah this looks good. Any errors in the console when you go to a tag page?

[2020-08-17 18:53] JonathanPeterRajan commented on #30
No errors. To test this, I added a tag called Test, to three of my existing posts and no problems occured.

[2020-08-18 05:43] arshad commented on #30
I'm going to take a look at the implementation again. So the new tag `Test` works but the others fail?

[2020-08-18 07:27] JonathanPeterRajan commented on #30
No, all the tags work, including the newly added Test tag, work.

[2020-08-18 07:32] arshad commented on #30
Nice. Ok to close this then?

[2020-08-18 07:36] JonathanPeterRajan commented on #30
So sorry for this misunderstanding. When I said they work, I meant to say that there aren't any problems in the console, refering to your previous message.
My problem, that when you click on the tag button and goes to a new page which only contains posts from that tag, still persists.
Once again sorry for the unclear message.

[2020-08-18 07:37] arshad commented on #30
No worries. I'll take a look at it. Did you try a `gatsby clean` then `gatsby develop`? Does it make any difference?

[2020-08-18 07:40] JonathanPeterRajan commented on #30
Yes, I have tried many times and the problems is still there.

[2020-08-18 08:59] amanbhattarai4400 commented on #38
Any updates?

[2020-08-18 17:18] JonathanPeterRajan opened #52 "Is it possible to use reflex components/blocks on a gatsby website that wasnt originally made with reflex starter base?"

[2020-08-18 17:55] arshad commented on #52
Yes you can.

1. Install dependencies: `npm i theme-ui gatsby-plugin-theme-ui @reflexjs/components @reflexjs/preset-base typeface-inter`
2. Create the following file: `src/gatsby-plugin-theme-ui/index.js` and add the following code:

[code]

You can now use Reflex components on your pages:

[code]

Here's an example codesandbox: https://codesandbox.io/s/zen-shadow-uf41h?file=/src/pages/index.js

[2020-08-19 05:36] arshad commented on #38
Hmm there's no way to back reference a `Post` node from a `Metatag` node right now. I guess one thing you could do it is pass a custom `og` type for `Post` in your config then use this value to do a check in `metatags.js`.

[code]

[code]

[2020-08-19 08:28] JonathanPeterRajan commented on #52
That's excellent! Thanks!
If I were to use the premade blocks found on the website, do I still need to put them in a folder called Blocks?

[2020-08-19 08:58] arshad commented on #52
No you can drop them in your pages: `src/pages/example.js`.

[2020-08-19 09:38] JonathanPeterRajan commented on #52
Ok, thank you for the help!

[2020-08-19 09:38] #52 closed

[2020-08-19 13:09] amanbhattarai4400 commented on #38
So I added following Schema,

[code]

and used `stringfy` as,

[code]

However, it throws me an error : **`schemaPost` not defined (2 times)**. I tried by setting `let schemaPost = null` and as expected null was return while inspecting.

Also, I've specified comments in above JSON, how can I retrieve them dynamically?

Thank you and stay safe.

[2020-08-21 17:40] Utkarshbhimte opened #59 "SVG support"
I did not see an example of how to use SVG. Should I handle it on the gatsby level and import it as a react component?

Thanks in advance.

[2020-08-24 06:16] arshad commented on #59
OK it's up. We added SVG support.

`<Image src="example.svg" />`

[2020-08-24 06:16] #59 closed

[2020-08-24 08:23] arshad commented on #38
Can you paste in the whole file please?

[2020-08-25 04:22] amanbhattarai4400 commented on #38
If you mean `metatags.js`, here it is :

[code]

and here's my `config.js`,

[code]

[2020-08-25 04:22] amanbhattarai4400 commented on #39
Any updates with this bug?

[2020-08-26 08:48] arshad commented on #38
Can you try making this change?

[code]

[2020-08-26 13:53] amanbhattarai4400 commented on #38
I'm still getting those warnings and errors.

![DeepinScreenshot_select-area_20200826193606](https://user-images.githubusercontent.com/41770152/91312237-bb04ef80-e7d3-11ea-99eb-7117833f1bb5.png)

[2020-08-27 07:39] arshad commented on #38
[code]

[code]

Sorry there's not much else I can do here.

[2020-08-27 14:51] JonathanPeterRajan commented on #30
Any updates on this?

[2020-08-27 20:32] raufsamestone opened #61 "Setup for PWA"
If we can add `gatsby-plugin-offline` plugin before `gatsby-plugin-manifest`, the website can register to service worker for **PWA**. It can be user friendly for offline documentation.

[2020-08-28 05:47] arshad commented on #30
@JonathanPeterRajan Can you help me reproduce this please?

[2020-08-28 07:02] arshad commented on #61
Thanks. I'll give this a try.

[2020-08-28 10:19] JonathanPeterRajan commented on #30
I made a fresh build which provided the basics.
Then I added a blog using npm i @reflexjs/gatsby-theme-post
Then I used`https://github.com/reflexjs/reflex/issues/29#issuecomment-668211141` to make the tags selector for the blog page.
Then I added some test posts, which have different tags

This is the result

[2020-08-28 12:13] amanbhattarai4400 commented on #38
OK, the above doesn't work as well.

So, I'm planning to add it without setting any condition? Now, I need help with extracting individual values dynamically. For instance, how to retrieve post title within `metatags.js`? Is it possible?

[2020-08-29 04:06] arshad commented on #38
[code]

[2020-08-29 05:28] amanbhattarai4400 commented on #38
Thanks, can you help me retrieve the values of fields available in my `schemaPost`? I have added text for fields I want to retrieve values for.

https://github.com/reflexjs/reflex/issues/38#issuecomment-679587163

[2020-08-31 12:15] ujwaldreamztech opened #62 "Move content folder HTML to SRC folder"
I am trying to implement content folder html in my src folder. Could you please share that How I can add css and JS styling into my src HTML?

[2020-08-31 12:19] arshad commented on #62
Sure. So you're trying to move the content folder under `src`?

[code]

[2020-09-01 05:56] Lokdex opened #63 "Custom fonts"
Hello,

I'm wondering if there is any way to use custom fonts downloaded and added to the project directory either to /src or /static, because so far all the documentation is Gatsby specific, and in Reflex I have seen no way to import the custom font.css with the font-face declared. Or is there any other way to do so directly in reflex?

[2020-09-01 06:01] arshad commented on #63
Sure. Are you using a framework such as Gatsby or Next?

[2020-09-01 06:03] Lokdex commented on #63
Yes, I'm using Gatsby.

[2020-09-01 06:04] arshad commented on #63
Can you check if this thread helps? #17

[2020-09-01 06:05] Lokdex commented on #63
Will check it now.

[2020-09-01 06:10] Lokdex commented on #63
Yes, I followed up more or less the same steps, but I'm stuck at the moment of actually using the declared font.
My Gatsby-config.js looks like this:

[code]
The font I downloaded is placed at /static/fonts, as well as the fonts.css, which looks like this:
[code]

[2020-09-01 06:50] arshad commented on #63
I created an example repo here. Can you take a look and see if this works for you?

https://github.com/arshad/reflex-custom-fonts

Demo: https://reflex-custom-fonts.netlify.app

[2020-09-01 07:50] ujwaldreamztech commented on #62
Thanks for the reply.

Actually I am trying to use this as a component and just use the design in one of the pages I have under src/

like you showed in this eg. https://github.com/arshad/reflex-mdx-js/blob/master/src/pages/app.js

But when I do this, the css seems to be missing. Can you direct me on what I am doing wrong?
Below is the code I am using
==============================================

[2020-09-01 09:25] arshad commented on #62
Hmm this looks good. It seems like some of the styles are coming through?

[2020-09-01 10:07] ujwaldreamztech commented on #62
No actually is the default css which we have used in the site. In code we used grid as well, but we are not seeing grid here

[2020-09-01 10:15] arshad commented on #62
I couldn't reproduce this with a clean install. See https://codesandbox.io/s/hungry-liskov-iekdt?file=/src/pages/login.js

Any other files that could've been overridden? Like theme.js?

PS: The `Grid` component need a `col=""` prop.

[2020-09-01 13:32] amanbhattarai4400 commented on #38
Any update?

[2020-09-01 16:25] arshad commented on #38
You can get it from `metatags`. Do a `console.log(metatags)` and inspect the content. It has all the info (such as title, image, description..etc) for the nodes.

[2020-09-01 19:00] Lokdex commented on #63
Holy smokes, yes, that did it. thank you so very much. What I was missing was importing the css in the Gatsby-browser.js.
Thanks for the assistance once again. Have a nice day.

[2020-09-01 19:15] arshad commented on #63
Awesome.

[2020-09-01 19:15] #63 closed

[2020-09-03 03:56] Abhikumar98 opened #65 "Issue in build"
![Screenshot 2020-09-03 at 9 22 16 AM](https://user-images.githubusercontent.com/35174288/92069553-43ccee00-edc7-11ea-9fff-fe378951e6de.png)

9:18:19 AM: failed Building production JavaScript and CSS bundles - 69.173s
9:18:19 AM: error Generating JavaScript bundles failed
9:18:19 AM: /opt/build/repo/node_modules/@reflexjs/gatsby-plugin-image/src/image.js: Support for the experimental syntax 'jsx'

[2020-09-03 05:57] arshad commented on #65
I've seen this bug too. I'll take a look at it and get back to you. Thanks.

[2020-09-03 17:15] ujwaldreamztech commented on #62
Hello,

We tried the folder structure as given by you in the codesandbox link. However the blocks are not loading as per the theme. Could you please guide us further on how to resolve the issue. Screenshots given below for reference: -

Browser output
<img width="775" alt="output" src="https://user-images.githubusercontent.com/53903670/92146218-03a55400-ee37-11ea-96bb-0e66df221dfe.png">

Console
<

[2020-09-03 17:26] arshad commented on #62
We just started seeing this today as well. A fix is on the way.

[2020-09-03 18:09] arshad commented on #62
Looks like this is a different bug. Is this for an mdx page placed inside `content/pages`?

[2020-09-04 05:36] ujwaldreamztech commented on #62
Yes, this for an mdx page inside content/pages

[2020-09-04 05:53] arshad commented on #62
Are you doing any customization to layout or the MDXProvider?

[2020-09-04 07:00] ujwaldreamztech commented on #62
We are not making any changes to MDXProvider. Our layout file looks the image below : -

<img width="682" alt="layout" src="https://user-images.githubusercontent.com/53903670/92209288-608e2200-eeaa-11ea-86c8-fd2ba50ebb2a.png">

[2020-09-04 08:27] arshad commented on #62
I see. Can you try wrapping `children` in the `MDXProvider` from core?

[code]

[2020-09-04 08:58] ujwaldreamztech commented on #62
We added the code above in the gatsby-config file and layout file, but the theme elements are not appearing.

plugins: [
      '@reflexjs/gatsby-theme-base',
      '@reflexjs/gatsby-theme-core',
]

Layout page
<img width="507" alt="mdx layout" src="https://user-images.githubusercontent.com/53903670/92221270-dbf7cf80-eeba-11ea-875f-5c0201158803.png">

[2020-09-04 11:14] arshad commented on #62
Did this fix the warnings? Let's add a `ThemeProvider` to layout and see if it picks up the theme.

[code]

I guess the layout changes is why we need these updates.

[2020-09-05 05:18] Archish27 opened #66 "Custom theme not working"
I tried adding custom theme in `src/@reflex/gatsby-theme-base` it doesn't seem to pick up my theme.

[code]

[2020-09-05 05:26] arshad commented on #66
The folder name is `@reflexjs`. You have `@reflex`.

[2020-09-05 06:30] Archish27 commented on #66
Thanks @arshad

[2020-09-05 06:30] #66 closed

[2020-09-05 11:59] Archish27 opened #67 "Not able to trigger event onChange event on input"
@arshad Hello I am not able to perform onChange event on form?
Does it have any example where we can refer for reflexjs?

[2020-09-05 12:02] ujwaldreamztech commented on #62
Here is a codesandbox link of what we are trying to achieve.

[https://codesandbox.io/s/merging-wve8c](https://codesandbox.io/s/merging-wve8c)

[2020-09-05 17:37] arshad commented on #67
I added an example here: https://codesandbox.io/s/old-meadow-2jbw3?file=/content/blocks/contact-form.mdx

See the `https://2jbw3.sse.codesandbox.io/contact` page and the `content/blocks/contact-form.mdx` block.

[2020-09-06 06:18] arshad commented on #62
Seems to be coming from `gatsby-plugin-layout`. Removing it fixes the theme: https://codesandbox.io/s/merging-forked-lxbeh

I'll take a look at how we can get `gatsby-plugin-layout` and `mdx` to work together.

[2020-09-06 07:01] Archish27 commented on #67
Thanks :+1:

[2020-09-06 07:01] #67 closed

[2020-09-06 07:01] Archish27 opened #68 "Modal in reflexjs"
Is there any component for modal in reflexjs?

[2020-09-06 07:38] arshad commented on #68
No we don't ship components. But you can easily add one since Reflex works with any other React libraries.

Here's one using React UI: https://codesandbox.io/s/nervous-frog-mpc7n?file=/content/blocks/shared/modal.mdx

[2020-09-07 06:20] ujwaldreamztech commented on #62
Thank you for taking the time. Please get back regarding how gatsby-plugin-layout and mdx can work together as soon as possible.

[2020-09-07 13:53] Archish27 commented on #68
Awesome 🚀

[2020-09-07 13:53] #68 closed

[2020-09-09 01:17] mattmaker commented on #65
I'm having the same problem :(

Tried a fresh install of Reflex and it happened again.

[2020-09-09 04:27] arshad commented on #65
I haven't been able to successfully reproduce this. This happens on `gatsby build`? Can you try updating `gatsby-cli` and try again? `npm i -g gatsby-cli`

[2020-09-11 06:32] arshad commented on #65
@Abhikumar98 @mattmaker any luck? Did the above work?

[2020-09-11 17:38] Abhikumar98 commented on #65
Yes, this did the work for me.
Thanks @arshad

[2020-09-13 15:42] amanbhattarai4400 opened #79 "Performance Score Issue - LightHouse Report"
Few days ago, my site was scoring 90+ on light house testing. Today, I checked it back and to my surprise, score was 73. Is there any way to improve it? Here's the screenshot :

![DeepinScreenshot_select-area_20200913212246](https://user-images.githubusercontent.com/41770152/93022211-c3e52600-f607-11ea-9dba-0a0da1d090c2.png)

[2020-09-13 15:43] amanbhattarai4400 commented on #38
Ok thanks :) In case, ReflexJS supports type field, re-open this issue.

[2020-09-13 15:43] #38 closed

[2020-09-14 01:48] edivanteixeira opened #80 "Error on build after install blog component - The above error occurred in the <StoreStateProvider> component"
Hi guys, I have a little problem, after install @reflexjs/gatsby-theme-post and running :
`npm run dev`
**I received this message:**

[code]

**The Log file**
[code]

**I already try update all packages and remove the node_modules but have no success.**

**My package.json**

[code]

[2020-09-14 06:56] arshad commented on #80
Looking into this.

[2020-09-14 07:00] arshad commented on #79
It seems like Google made some changes to their metric in the latest Lighthouse. This is being discussed here: https://github.com/gatsbyjs/gatsby/issues/24332

There are some helpful pointers in the thread.

[2020-09-14 07:11] arshad commented on #80
@edivanteixeira Seems to be an issue with `npm` and `yarn`. I know you removed `node_modules` and re-installed. Can you also try the following?

1. Remove `node_modules` and `yarn.lock`
2. Install `gatsby`, `react`, `react-dom` in that order.
3. `npm install`

As an alternative, if you can, using `yarn` instead of `npm` does not have this issue.

See also:

https://github.com/gatsbyjs/gatsby/issue

[2020-09-16 00:32] edivanteixeira commented on #80
perfect, i did it and it worked correctly.

Thank you.

[2020-09-16 00:32] #80 closed

[2020-09-16 07:08] arshad commented on #65
Thanks @Abhikumar98. Going to close this as fixed.

@mattmaker Please re-open if you're still seeing this issue. Thank you.

[2020-09-16 07:08] #65 closed

[2020-09-16 07:09] arshad commented on #39
I still haven't been able to reliably reproduce this issue. Is this still happening?

[2020-09-17 09:51] benbehringer opened #83 "Submenu on mobile"
Hi,

Thanks for the great project!

I have the following menu:
[code]

On desktop it works great, since I just need to hover "Title" to open the submenu. Yet, on mobile it should be possible to tap "Title" to open the submenu (if there is no link). It's not very accessible if nothing happens when tapping (and I don't want to create a page with just 2 items).

Is there an easy way to achieve this?

[2020-09-17 10:42] arshad commented on #83
You should be able to achieve this using a `trigger` prop on the `NavMenu`.

1. Find `NavMenu` component in `content/blocks/header.mdx`. (Note: there are two `NavMenu` components. Find the one for mobile - most probably the second one).
2. Add the following prop to it `<NavMenu name={navName} gap={[0, 8]} borderTopWidth="1px" trigger="tap" />`

This should do it. This way you can keep the hover tr

[2020-09-17 10:46] benbehringer commented on #83
That was easy and works like a charm! Thank you so much!

[2020-09-17 10:50] arshad commented on #83
Happy it worked.

Tip: Instead of having multiple `<Block />` in your nav, you can use one `Block` and then embed multiple blocks inside. This would make it easier to theme/control the wrapper.

Example:

[code]

Then in `content/blocks/submenu-block`

[code]

[2020-09-18 08:01] benbehringer commented on #83
Great tip! Thanks!

[2020-09-18 08:21] benbehringer commented on #83
Still trying to understand NavMenu (now in the footer). Is there some documentation for options?

I have such a menu
[code]
and I build it in the footer as follows
[code]

[2020-09-18 08:53] arshad commented on #83
@benbehringer hmm I can't reproduce this one. It's showing as a span for me (it does have a hover effect that makes it look like an `a` tag though).

For now the best place to look is the source code. https://github.com/reflexjs/reflex/blob/master/packages/gatsby-theme-nav/src/nav-menu.js#L179

Agree this needs better documentation (we're working on it).

[2020-09-18 09:01] benbehringer commented on #83
Here's a demo:

![2020-09-18 10 55 33](https://user-images.githubusercontent.com/37022575/93578727-f5f6df00-f99d-11ea-9fcf-06977a21c2d6.gif)

I don't want the span to have a hover effect, since it is quite confusing. In fact, I recorded multiple sessions where people tried to click the span and then left the page (likely because of the frustrating UX).

[2020-09-18 09:03] arshad commented on #83
Agreed. This is a bug. I'll create an issue and a fix.

[2020-09-18 09:04] arshad opened #84 "Remove hover effect from text menu link in NavMenu"
Context: See https://github.com/reflexjs/reflex/issues/83#issuecomment-694748600

[2020-09-18 09:04] benbehringer commented on #83
Great! Thanks!

[2020-09-18 10:10] arshad commented on #84
Fixed.

[2020-09-18 10:10] #84 closed

[2020-09-18 10:11] arshad commented on #83
I pushed a fix for it and tagged a new release. You can upgrade: `yarn upgrade @reflexjs/gatsby-theme-base`.

[2020-09-18 17:02] arshad commented on #83
The easiest way right now is to use style props for `NavMenu` and the `sx` props to target child elements.

[code]

You can also shadow `src/@reflexjs/gatsby-theme-nav/nav-menu.js`, copy the content and add your style props to `NavMenuLink`, `NavMenuItem`..etc.

We are working on abstracting this a bit better so that it is easier to use style props on all elements.

[2020-09-18 19:08] benbehringer commented on #83
Awesome! Keep up the good work! Thanks!

[2020-09-21 11:12] AntoinedeChassey opened #85 "[gatsby build] WebpackError: TypeError: Object.fromEntries is not a function"
Hi,

When trying to build (`gatsby build`), the build process breaks at step `Building static HTML for pages`.
The reported error points to:

[code]

[code]

I tried a lot of different things but no success. (For information, I made sure to `gatsby clean` before building and `gatsby develop` works perfectly).

Thanks for any help in advance!

[2020-09-21 11:14] AntoinedeChassey opened #86 "[gatsby build] WebpackError: TypeError: Object.fromEntries is not a function"
Hi,

When trying to build (`gatsby build`), the build process breaks at step `Building static HTML for pages`.
The reported error points to:

[code]

[code]

I tried a lot of different things but no success. (For information, I made sure to `gatsby clean` before building and `gatsby develop` works perfectly).

Thanks for any help in advance!

[2020-09-21 11:15] AntoinedeChassey commented on #85
Duplicate of #86
-> this issue can be deleted

[2020-09-21 11:15] #85 closed

[2020-09-21 11:17] arshad commented on #86
Ah this is node version issue. We already fixed this in `@reflexjs/ui`. Need to backport it to `@reflexjs/components`.

I'll do a quick fix now.

[2020-09-21 11:27] arshad commented on #86
I fixed it and created a new release.

Can you upgrade `yarn upgrade @reflexjs/gatsby-theme-base` and try again please?

[2020-09-21 11:35] AntoinedeChassey commented on #86
Yeahhh !!
Thanks a lot for the awesome fix speed :)

[2020-09-21 11:35] #86 closed

[2020-09-21 11:38] arshad commented on #79
I'm going to close this issue for now since there's not much we can do in Reflex do fix this. If there's a fix in Gatsby and we need to port to Reflex, I'll reopen and update. Thank you.

[2020-09-21 11:38] #79 closed

[2020-09-21 11:39] arshad commented on #83
Closing this issue as fixed.

[2020-09-21 11:39] #83 closed

[2020-09-23 08:24] tkamsker opened #87 "i18i missing"
Hi i like your project a lot.
Will play around doing some stuff also with some cms integration.
But so far it is not clear how the language Integration should work ?
Did i miss something ? An example would be great thx thomas

[2020-09-23 14:13] arshad commented on #87
I haven't really looked at `i18n` yet. But `gatsby-theme-i18n` looks promising.

I'm going to see how we can make this work with Reflex and get back to you.

[2020-09-23 15:20] tkamsker commented on #87
hi
this would be excellent because 2 or more languages are in Europe quite common thx

[2020-09-23 16:18] arshad commented on #87
For sure. Definitely something I'm interested in as well.

[2020-09-26 01:31] mattmaker opened #88 "Change <img /> on light/dark mode"
I have a logo in my header like this:

[code]

It's a black logo on a white background. I'd like to switch to `logo-white.png` when I click the button for dark mode.

What is the best way to do this?

[2020-09-26 05:41] arshad commented on #88
You can use the `useColorMode` hook to retrieve the active color mode and then set the image based on the value.

[code]

[2020-09-26 23:53] mattmaker commented on #88
That didn't exactly work so I changed the code in the `<img />` tag to this:

[code]

Works fine now. Thanks!

[2020-09-26 23:53] #88 closed

[2020-09-27 07:22] LER0ever opened #89 "Keep both image transformation methods (local + cloudinary)"
Hi @arshad ,

Recently the image transformation in `gatsby-theme-library` switched from local to cloudinary, and I was wondering if we could keep both of them.

I do understand that some people might benefit from using Cloudinary as it provides faster transformations, and great CDN support.

However, for my use case, I would prefer doing that locally, since

- I use Gatsby Cloud for website buildi

[2020-09-27 10:39] arshad commented on #89
Oh definitely. I built gatsby-theme-library primarily for reflexjs.org (I assumed no one else was using this).

I’m going to add support for both local and cloudinary.

[2020-09-28 07:25] RishikeshDarandale opened #90 "Can't use `flexDirection` with breakpoints"
# Can't use `flexDirection` with breakpoints

Similar behaviour is observed from textAlign.

[code]

Error:

[2020-09-28 07:46] arshad commented on #90
I see. Looks like we'll need to update the type for this. Any other properties with similar warnings?

[2020-09-28 08:07] RishikeshDarandale commented on #90
Hey @arshad , thanks for the quick reply.

Here is one more, I will add more there once I see the errors!
- fontWeight="light"

Also, why below one is not translated to actual value?

[code]

PS: I am using preset!

[2020-09-28 09:10] arshad commented on #90
Hmm I can't reproduce this. See example: https://csl9l.sse.codesandbox.io/basic

Codesandbox: https://codesandbox.io/s/goofy-swirles-csl9l?file=/content/pages/basic.mdx

Which preset are you using?

[2020-09-28 13:21] arshad commented on #90
I wonder how we're going to fix this. If we use a mapped type with `string` then we'll probably lose suggestions for values like `column`, `row`..etc.

[code]

[2020-09-28 13:58] RishikeshDarandale commented on #90
[code]
This is how the `flexDirection` type is, thus it would be either `column|row`.

Smae with `fontWeight`

[code]

I can not have as below:

[code]

Looks like we have use `sx = {{ }}`.

[2020-09-28 14:05] RishikeshDarandale commented on #90
I am using `next.js` and having issues with replacement of attribute and sx attribute as well. I have referred this [one](https://reflexjs.org/blog/reflex-create-react-app) to configure.
- step 1: create a next app
- step 2 as described above in document
- created a theme.ts as below:

[code]
- _app.tsx as below

[code]

[2020-09-28 14:09] RishikeshDarandale commented on #90
I think the issue is `theme.ts`

[code]

[2020-09-28 15:43] arshad commented on #90
Sure. Thank you.

[2020-09-30 08:47] arshad commented on #90
I think for now we could solve the TS type using `string` (which would remove the suggestions) but we can later fix this when template literal types are supported.

[2020-10-01 21:16] ttayehh24 commented on #90
@RishikeshDarandale @arshad
So I currently have an issue with AddToCalendar.tsx component.  When I'm trying to import styling components below to style the Add to Calendar link from reflexjs I'm getting errors in the ci/circleci.  I'm noticing that the AddToCalendar.tsx isn't recognizing reflexjs for some odd reason.

TypeError: Cannot read property 'button' of null
TypeError: Cannot read property

[2020-10-02 05:04] arshad commented on #90
@ttayehh24 Hmm. This is failing on ci only?

[2020-10-05 13:44] thijs666 opened #92 "Can't get background image to work."
I'm transferring an old website concept which was never finished to the reflex starter template. The only thing I'm stuck with is the background image on the first hero.

I need a background image like this:

![c36f26c1a080ff7a712d942ffea7aa9b](https://user-images.githubusercontent.com/65619302/95086954-641efe00-0721-11eb-8ee2-8c82744a6c9e.png)

As background in the starter template, behind the he

[2020-10-05 17:14] arshad commented on #92
@thijs666 are you using a PNG for the background image or SVG?

[2020-10-05 17:16] thijs666 commented on #92
@arshad I tried both, but originaly I was using svg.

[2020-10-05 17:32] arshad commented on #92
@thijs666 I created an example here: https://codesandbox.io/s/relaxed-meninsky-2cgd3

Since this adds a darker background, we'll also need to update the text and links colors in a few other places. Here are a few files I updated:

`content/pages/index.mdx`: Added the SVG here.
`content/blocks/hero.mdx`: Updated the color of the heading and text.
`content/blocks/header.mdx`: Updated the color of li

[2020-10-05 17:33] arshad commented on #89
@LER0ever is this a blocker for you? I don't think I'll be able to get to this before next week.

[2020-10-05 17:57] thijs666 commented on #92
@arshad Okay thanks, was stuck on this all day long.

So if I'm correct; you change the background of the hero and make a div with the waves underneath it? For this project it works great, but what if I really wanted one big image behind it, would that be possible too or is that way more complicated?

[2020-10-06 05:21] LER0ever commented on #89
@arshad that's ok. I'm currently using an older version of Reflex, and a modified version of `gatsby-theme-library` to showcase code snippets. So please take your time :)

[2020-10-06 05:37] arshad commented on #92
@thijs666 Yeah you can do this with `background` props. (Place image in the static directory)

[code]

See https://2cgd3.sse.codesandbox.io/home-2

[2020-10-06 17:47] #92 closed

[2020-10-16 15:41] LocTran016 opened #95 "[Feature Request} Add reveal.js"
Hi there, would you mind adding reveal.js, used for making presentation. It would really be nice if you can create a site with present (especially for document site). Thanks

[2020-10-17 16:54] LocTran016 opened #96 "Missing in the Guide"
Hi there, I've tried to add like this in src/@reflexjs/gatsby-theme-post like this:
[code]
And my site become empty (it does have content). I don't know if you could fix this (may be update the guide I guess)

![image](https://user-images.githubusercontent.com/64778285/96348570-0bae1000-10d4-11eb-97da-6679235d65e0.png)

[2020-10-17 17:05] arshad commented on #96
Ah I see. So the snippet in the doc does not show the full code.

You need everything in https://github.com/reflexjs/reflex/blob/master/packages/gatsby-theme-post/src/post.js then add the `DiscussionEmbed ` component after line 95.

I can see this being confusing. I'll update the doc.

[code]

[2020-10-17 17:33] LocTran016 opened #97 "[Guide] Add more option in featured post"
Hi there, I've found a really good video here: https://www.youtube.com/watch?v=KxdhGAw93QI&feature=emb_logo (by you). Can you add a way to make the title of each featured post direct to the post link when you click on it (or adding a Read More button under the post's excerpt) Thanks

[2020-10-18 01:56] LocTran016 commented on #96
Well, I've tried to follow this [guide](https://reflexjs.org/docs/theming-presets) and adding like this but VSCode reported a problem

![image](https://user-images.githubusercontent.com/64778285/96356961-97995980-111f-11eb-800d-5fdfee42acf1.png)

![Uploading image.png…]()

[2020-10-18 04:11] LocTran016 opened #98 "[Feature Request] Add option to make injecting JS to header and footer easier"
Hi there, Although there is a way to add JS to the head/footer of the document via header.mdx and footer.mdx but you've to change something so if you add a option to inject JS easier (by using html <script> etc)

## Why

Well, sometimes you will need to inject some script to the site (for ex, to add fontawesome, I've to add the script to the header or to add Crisp like the picture below, I've to i

[2020-10-22 17:01] LocTran016 opened #99 "Icon List"
Would you mind adding the icon list to the doc:

![image](https://user-images.githubusercontent.com/64778285/96905547-c79b8080-14c2-11eb-865f-48d906e26758.png)

![image](https://user-images.githubusercontent.com/64778285/96905596-d97d2380-14c2-11eb-800f-39d80c35b266.png)

Thanks

[2020-10-22 18:04] arshad commented on #99
The base theme uses Feather icons. You can see a list of the icons here: https://feathericons.com

[2020-10-22 18:06] arshad commented on #97
There are some code examples on this page that could be useful: https://reflexjs.org/videos/add-featured-posts-section

You can use `post.slug` to link to the post page.

[code]

[2020-10-22 18:07] arshad commented on #96
Looks like a typo. Can you try `import "typeface-inter"`?

[2020-10-22 18:29] LocTran016 commented on #97
Don't know why but when I add like this:
[code]

Gatsby report a problem:

![image](https://user-images.githubusercontent.com/64778285/96914323-09322880-14cf-11eb-993d-7fd3287eea3c.png)

[2020-10-23 12:14] LocTran016 opened #100 "Issue when building with Travis CI"
Hi there. This is my [repo](https://github.com/LocTran016/loctran016.github.io/tree/main). Can you help me with this? I don't know why it keep reporting this issue and make the build failed (although when I run yarn build on my computer, there isn't any problem). Thanks

[code]

![image](https://user-images.githubusercontent.com/64778285/97002176-d0905e80-1563-11eb-8b17-1b3e061d388c.png)

[2020-10-23 12:29] LocTran016 commented on #100
May be you could have a look at this article: https://spectrum.chat/mdx/general/resolved-problems-updating-to-mdx-v2-w-yarn-workspaces~126eddd4-942f-4e8b-9064-de45e8b4a4d9

[2020-10-24 00:28] mattmaker opened #101 "Changing header and footer menu styles"
I have a dark background image in my hero block, and a white background on the footer. I wanted to change the header menu color to white so I shadowed the `nav-menu.js` file. I created the file `src/@reflexjs/gatsby-theme-nav/nav-menu.js` and then changed the color to white on line 26 like this:
[code]

But it changed the menu in the footer to white as well, which I want to keep black.

I'm sure t

[2020-10-24 16:11] benbehringer opened #102 "Blog cannot render"
Hi,

I followed the installation instructions for adding a blog (https://reflexjs.org/docs/blog)

Yet, the blog cannot render:

<img width="1238" alt="Screenshot 2020-10-24 at 18 11 40" src="https://user-images.githubusercontent.com/37022575/97086578-5e338300-1624-11eb-80a7-f9f737bdc286.png">

Any ideas?

Thanks
Ben

[2020-10-24 16:13] benbehringer commented on #102
I also receive this warning:

Exported queries are only executed for Page components. It's possible you're
trying to create pages in your gatsby-node.js and that's failing for some
reason.

[2020-10-24 16:49] arshad commented on #102
Is this with posts or no post files? Can you see if adding a post with tags fixes it?

[2020-10-24 16:51] arshad commented on #101
Can you use the `name` props to do some conditional styles? https://github.com/reflexjs/reflex/blob/master/packages/gatsby-theme-nav/src/nav-menu.js#L189

[2020-10-24 16:54] arshad commented on #100
@LocTran016 did you figure this out? Looks like the site is running? https://loctran016.github.io

[2020-10-24 16:54] benbehringer commented on #102
This is posts only (followed the instructions and added a post.). Pages work as expected.

[2020-10-24 17:07] benbehringer commented on #102
Ah, it worked until I installed Disqus. Removed it, but it is still not working.

[2020-10-24 17:16] arshad commented on #102
Let me spin a new site and test.

From the error, it looks like a component is not returning properly.

[2020-10-24 17:23] benbehringer commented on #102
gatsby build:

Building static HTML failed for path "/blog/"
See our docs page for more info on this error: https://gatsby.dev/debug-html
 Error: Minified React error #152; visit https://reactjs.org/docs/error-decoder.html?invariant=152&args[]=Wrapper for the full message or use the non-minified dev environment for full errors and additional helpful warnings.

[2020-10-24 17:32] arshad commented on #102
Hmm I can't reproduce this with a new build. https://reflex-disqus.netlify.app/blog/2020-02-18-officiis-unde-dignissimos-molestias-ipsam-alias

Here's the `post.js` file: https://github.com/arshad/reflex-disqus/blob/master/src/%40reflexjs/gatsby-theme-post/post.js

Can you try removing any shadowed component and try `gatsby clean && gatsby develop`?

[2020-10-24 17:34] benbehringer commented on #102
Arg, I already tried gatsby clean && gatsby develop without any luck. Will check your example, thanks!

[2020-10-24 17:50] LocTran016 commented on #100
No I haven't figured this out (don't know how to use yarn resolution). The page is working because the build used to
be success (so there is some old content in my page) and now it failed. Can you help me with this?

[2020-10-24 17:54] #98 closed

[2020-10-24 19:19] benbehringer commented on #102
I reverted `package-lock.json` and `package.json` and did an `rm -rf node_modules && npm install`.  I couldn't figure out what went wrong, but I can access the blog now. Thanks for your time and help.

[2020-10-24 19:54] benbehringer commented on #102
Nope. Worked just one `gatsby develop`. Now I get this error:

![Uploading Screenshot 2020-10-24 at 21.53.57.png…]()

[2020-10-24 19:55] benbehringer commented on #102
Here's my package.json

[code]

[2020-10-24 20:05] benbehringer commented on #102
cleaned everything again and gatsby develop now gives me:

<img width="474" alt="Screenshot 2020-10-24 at 22 05 48" src="https://user-images.githubusercontent.com/37022575/97092544-140ec980-1645-11eb-8a6b-661144965d8d.png">

[2020-10-24 22:20] benbehringer commented on #102
The blog now appears on every second `gatsby develop`. Yet, the header and footer are not shown (only /blog and the posts). Moreover, if I add post-footer.mdx as detailed [here](https://reflexjs.org/docs/blog-custom-page), I receive the wrapper error (as shown in my first post). It is absolutely not clear to me what is causing the side effects.

[2020-10-24 22:56] benbehringer commented on #102
Okay, I removed several unused packages and installed everything using yarn. It works now as expected. Still I got this message during installation:
<img width="920" alt="Screenshot 2020-10-25 at 00 43 43" src="https://user-images.githubusercontent.com/37022575/97095067-2693fd80-165b-11eb-8ed4-5873484bbeb3.png">

[2020-10-25 06:48] Archish27 opened #103 "Map Component"
Is there a component which shows map based on address / location?
Map Component missing?

[2020-10-25 12:48] benbehringer commented on #102
Thanks! Closing this since it is probably not an reflexjs issue.

[2020-10-25 12:48] #102 closed

[2020-10-25 12:52] benbehringer opened #104 "How to add a layout.js and edit markdown styling?"
Hi,

To customize markdown styling, I followed [this doc](https://www.gatsbyjs.com/docs/mdx/customizing-components/) and added a layout.js. Yet, it seems like the layout.js at `src/components/layout.js` is not loaded. I also tried `src/@reflexjs/gatsby-theme-core` without any luck. Any hints?

Thanks,
Ben

[2020-10-25 16:40] arshad commented on #104
For Reflex, you create `src/@reflexjs/gatsby-theme-core/mdx-components.js`.

See https://github.com/reflexjs/reflex/blob/master/packages/gatsby-theme-core/src/mdx-components.js

[2020-10-26 17:29] benbehringer commented on #104
Thanks! Adding `src/@reflexjs/gatsby-theme-core/mdx-components.js` makes any content from pages disappear and only content of posts is visible. What am I doing wrong?

[2020-10-26 17:33] arshad commented on #104
Ah I see. So the base starter is already shadowing this file and adding some additional components to it. This is probably why the error when you're shadowing it again.

Can you instead shadow `src/@reflexjs/gatsby-theme-base/mdx-component.js`?

See https://github.com/reflexjs/reflex/blob/master/packages/gatsby-theme-base/src/%40reflexjs/gatsby-theme-core/mdx-components.js

or keep `src/@reflexjs/

[2020-10-26 18:16] benbehringer commented on #104
Thanks! I shadowed `src/@reflexjs/gatsby-theme-core/mdx-components.js` as suggested and it works like a charm!

[2020-10-26 18:16] #104 closed

[2020-10-26 18:33] LocTran016 commented on #100
Would you mind helping me with this? Thanks

[2020-10-26 21:54] benbehringer opened #105 "Blog: Adding post-footer.mdx block results in TypeError"
Hi,

adding `post-footer.mdx` and `post-header.mdx` blocks results in a TypeError:

<img width="1039" alt="Screenshot 2020-10-26 at 22 53 56" src="https://user-images.githubusercontent.com/37022575/97232807-22441d80-17de-11eb-926b-92a2d15a6a48.png">

Thanks!
Ben

[2020-10-26 21:54] benbehringer opened #106 "Blog: adding post footer or header results in TypeError"
Hi,

adding `post-footer.mdx` and `post-header.mdx` blocks results in a TypeError:

<img width="1039" alt="Screenshot 2020-10-26 at 22 53 56" src="https://user-images.githubusercontent.com/37022575/97232807-22441d80-17de-11eb-926b-92a2d15a6a48.png">

Thanks!
Ben

[2020-10-26 23:51] arshad commented on #105
What’s in post-footer.mdx?

[2020-10-27 00:31] 454de6e commented on #39
I think this problem is caused by Gatsby's cache. If I run the [`example-blog`](https://github.com/reflexjs/reflex/tree/master/examples/example-blog) locally, I'm running into what I think is the same issue.

The first time I run `yarn workspace example-blog run start` Gatsby runs fine with no issue. Tags on blog post pages are rendered correctly. When I run the same command again, Gatsby uses its

[2020-10-27 03:39] mattmaker commented on #101
Not sure how to do that 😅

[2020-10-27 05:34] arshad commented on #101
You can also do this by passing styles to the `NavMenu` using the `sx` props.

Here's an example: https://reflex-menu-styles.netlify.app

I created a sample repo here: https://github.com/arshad/reflex-menu-styles

See this commit for the additional styles added via `sx` props: https://github.com/arshad/reflex-menu-styles/commit/810ca33341985ccdcb9b852558f7dd4c45f24c9c?branch=810ca33341985ccdcb9b85

[2020-10-27 05:36] arshad commented on #100
@LocTran016 Looks like someone else had the same issue. Can you take a look at the following: https://spectrum.chat/mdx/general/resolved-problems-updating-to-mdx-v2-w-yarn-workspaces~126eddd4-942f-4e8b-9064-de45e8b4a4d9?

[2020-10-27 06:51] benbehringer commented on #105
`Test`

[2020-10-27 06:58] arshad commented on #105
Ah you need to export a component. Try:

[code]

Note: you have access to the post props as well:

[code]

[2020-10-27 07:02] arshad commented on #105
If you want to use markdown in the post footer you can reference a block.

Say you have a `content/blocks/footnote.mdx` block with markdown:

[code]

Then in `post-footer.mdx` you can do:

[code]

[2020-10-27 07:04] benbehringer commented on #105
Awesome, thanks!

[2020-10-27 07:04] #105 closed

[2020-10-27 07:46] LocTran016 commented on #100
Oh yeah, I have already read that post, tried to add to the package.json like this:
[code]
but didn't help. I don't know if I had put a wrong version in mdx (I mean the version of mdx installed in the theme)

[2020-10-27 08:38] LocTran016 commented on #97
Here is my block, how could I add the limit to this, thanks.
[code]

[2020-10-27 10:07] arshad commented on #103
There's no map component out of the box. But you should be able to create one using `Iframe`.

See example: https://reflex-map.netlify.app/basic

Here's the `GoogleMap` component: https://github.com/arshad/reflex-map/blob/master/src/components/google-map.jsx

To use it on a page:

[code]

[2020-10-27 10:07] #99 closed

[2020-10-27 10:09] arshad commented on #97
Can you try the following?

[code]

[2020-10-27 10:09] arshad commented on #96
Did this work?

[2020-10-27 10:17] arshad commented on #100
What happens if you remove gatsby-plugin-mdx from your package.json? Reflex will already pull this in as a dependency.

[2020-10-27 10:18] LocTran016 commented on #96
Yes, It work really good. Thanks for helping me

[2020-10-27 10:20] LocTran016 commented on #100
I used to do that, the build failed so I follow the guide above, the problem look similar and the writer told that to fix this you can use yarn resolutions

[2020-10-27 10:23] LocTran016 commented on #100
It started being failed from this commit: https://github.com/LocTran016/loctran016.github.io/commit/d5263acaa210b4d07831aa001f2bfb5b2a853094 and I have add mdx in resolutions here https://github.com/LocTran016/loctran016.github.io/commit/e758c79c6073343d04f5462a868735480e9dad97 but didn't help at all.

[2020-10-27 10:25] benbehringer commented on #106
Duplicate of #105.

[2020-10-27 10:25] #106 closed

[2020-10-27 10:32] benbehringer opened #108 "NavMenu focus on blog post pages missing"
Hey,

Let's assume we navigate to a blog post as follows: `NavMenu->blog->2020-post` resulting in a slug `/blog/2020-post`. It would be great if the "blog" menu entry would be still highlighted/focused for blog post pages. Instead it is only highlighted on the posts page (i.e., the slug `/blog`).

Thanks
Ben

[2020-10-27 10:44] #96 closed

[2020-10-27 10:45] benbehringer opened #109 "Shadowing @reflexjs/gatsby-theme-post/post.js tags not visible"
Hey,

I'm trying to shadow `@reflexjs/gatsby-theme-post/post.js`. I copied the original version and just changed the maximum width a bit:

[code]

[2020-10-27 10:47] arshad commented on #109
You mean the post `tags`? The one you set in the post mdx file?

[2020-10-27 11:13] LocTran016 commented on #97
Thanks, it works.

[2020-10-27 11:13] #97 closed

[2020-10-27 11:16] benbehringer commented on #109
Yes and I don't know why they disappear since the code is just copied and the corresponding code lines are included.

[2020-10-27 11:49] arshad commented on #30
Closing this since lack of activity. Feel free to reopen if still an issue. Thank you.

[2020-10-27 11:49] #30 closed

[2020-10-27 11:49] arshad commented on #109
I'll see if I can reproduce this. Not sure if this is related: https://github.com/reflexjs/reflex/issues/39

[2020-10-27 11:50] arshad commented on #39
@454de6e Thanks. This is helpful. I'm going to try and reproduce this locally.

[2020-10-27 14:52] 454de6e commented on #39
As a quick fix you can probably set `parent.id` on tag nodes to the ID of the post from which they were generated. I know that this parent child relationship is semantically meaningless, because a tag would need to have multiple parents, which I think nodes can't have.

If you look at the docs for `onCreateNode` it seems it's geared at transforming existing nodes 1:1 and not n:1. I am a little sur

[2020-10-27 15:19] benbehringer commented on #109
Ah, I see. I also receive the message:

<img width="1035" alt="Screenshot 2020-10-27 at 16 19 02" src="https://user-images.githubusercontent.com/37022575/97322480-23258f80-1870-11eb-8158-c03f810bba85.png">

[2020-10-27 16:11] benbehringer commented on #109
I can also confirm that after `gatsby clean && gatsby build`post tags are available, but are missing after a `gatsby build && gatsby build`!

[2020-10-28 00:14] mattmaker commented on #101
That worked. Thanks!

[2020-10-28 00:14] #101 closed

[2020-11-03 21:46] mattmaker opened #110 "Switch from Feather icons to Font Awesome?"
For one of the projects I'm working on, I need some icons that Feather doesn't have. I decided to switch to Font Awesome and added it via Yarn `yarn add @fortawesome/fontawesome-free`

Not sure how to implement this in Reflex though so any help would be appreciated 🙏

[2020-11-04 04:10] arshad commented on #110
Sure.

1. Create the following file: `src/@reflexjs/gatsby-theme-base/icons.js`

[code]

2. Find your icon on fontawesome.com and download the svg file.

<img width="564" alt="Cat_Icon___Font_Awesome" src="https://user-images.githubusercontent.com/124599/98068201-d98f0300-1e74-11eb-84d0-a14473f69de1.png">

3. Copy the svg and add it to your icon library.

[code]

4. You can now use the icon anywhe

[2020-11-04 04:12] arshad commented on #110
Note: This removes all feather icons from your build. If you want to keep feather icons, you can do so like this.

[code]

[2020-11-04 14:34] LocTran016 opened #111 "Adding script before body end tag"
Hi there, in my project I want to add some scripts right before `body` tag globally
Not sure how to implement this though so any help would be appreciated 🙏

[2020-11-04 16:40] arshad commented on #111
@LocTran016 does this help? https://www.gatsbyjs.com/docs/custom-html/#adding-custom-javascript

[2020-11-04 16:41] arshad commented on #111
This comment might be helpful too: https://github.com/reflexjs/reflex/issues/21#issuecomment-669209115

[2020-11-04 21:44] mattmaker commented on #110
Awesome! Thank you @arshad

[2020-11-04 21:44] #110 closed

[2020-11-05 05:20] LocTran016 commented on #111
Oh thanks, it working but could you help me with this: I want to add a script to this and adding to the crisp to the website, I've tried 2 ways but didn't help:
[code]
or like this:
[code]
But didn't help

[2020-11-05 10:25] LocTran016 commented on #110
Excuse me, I have try like this but didn't help:
Adding to src/@reflexjs/gatsby-theme-base/icons.js like this
[code]
And add like this to the header.mdx:
[code]
But it didn't help. It would be great if you could help me with this.

[2020-11-07 11:04] LocTran016 commented on #100
And btw, this also happen locally (on my computer), when I run yarn dev (`gatsby clean && gatsby develop --open`), this is what shown in the terminal:
![image](https://user-images.githubusercontent.com/64778285/98439300-9908e100-2123-11eb-9495-e2a71d0e14ee.png)

[2020-11-07 15:28] LocTran016 commented on #111
Could you help me? Because addthis decrease my site seriously so I would like to ignore it on mobile (on mobile the score only 46 points) so I would like to disable loading addthis on mobile device, I have tried like following but didn't help:
[code]

![image](https://user-images.githubusercontent.com/64778285/98444512-b0a49180-2144-11eb-82ea-f3a1f05f2134.png)

[2020-11-08 13:14] LocTran016 opened #115 "Change icon on fullscreen change"
Hi, I'm currently using [screenful.js](https://github.com/sindresorhus/screenfull.js) in my [project](https://github.com/loctran016/loctran016.github.io). I've added a button for this purpose but I can't add a way to change the icon when the site become fullscreen, here is my code (in content/blocks/header.mdx):
[code]
It would be really nice if you can help me with this.

[2020-11-25 23:36] rsexton404 opened #123 "Error in node creation for @reflexjs/gatsby-theme-doc"
Maybe I'm just being impatient to try out an unreleased (?) Gatsby theme, but I get the following error when adding `@reflexjs/gatsby-theme-doc` to the base starter and adding an example MDX file in `content/docs/`.

[code]

Also, I don't see any examples or references to this theme in the docs (as the README.md for the package suggests). If this is still an upcoming feature, that makes perfect se

[2020-11-26 01:59] rsexton404 commented on #123
I think this is caused by not naming the files inside `content/docs` as expected. I've submitted [PR 124](https://github.com/reflexjs/reflex/pull/124), which fixes the issue with the README, but it might be a good idea to handle the case when filenames do not include a "weight."

[2020-11-26 02:18] rsexton404 commented on #123
BTW, how does the tableOfContents work? And is there a way to specify which nav to use? I'd like to display different sets of pages for documenting different products.

[2020-11-27 05:56] arshad commented on #123
Yeah `gatsby-theme-doc` is mainly used for running the docs on reflexjs.org and I've not really tested it on other setups.

I just merged the PR. Let me know if this fixes the issue.

Do you mean the sidebar nav?

This is using https://github.com/reflexjs/reflex/blob/master/sites/www/content/navs/doc.mdx which is being called from https://github.com/reflexjs/reflex/blob/master/packages/gatsby-them

[2020-11-27 06:32] arshad commented on #123
OK I looked into it a bit and created an example here:

Demo: https://reflexjs-product-docs.netlify.app
Repo: https://github.com/arshad/reflexjs-product-docs

## How it works

Reflexjs has support for [additional fields](https://reflexjs.org/docs/recipes#additional-fields) that are passed down from frontmatter to the schema.

1. I created one nav for each doc. See https://github.com/arshad/reflexj

[2020-11-27 23:02] rsexton404 commented on #123
Wow, thank you for looking into this for me! If I could organize my different product docs into folders (and a few levels of subfolders too), this would be really great for building a large developer portal type of site.

[2020-11-27 23:02] #123 closed

[2020-11-27 23:08] rsexton404 commented on #123
As it stands, the folders and subfolders do not get translated into routes. So a file in `docs/product-one/guides/01-integration-guide.mdx` would get the route `docs/integration-guide` but another file in `docs/product-two/guides/01-integration-guide.mdx` would get the same route and cause a conflict.

It would be very powerful if a doc file's unique path (including folders and subfolders) could b

[2020-11-27 23:11] rsexton404 commented on #123
PS: I tried adding two copies of `@reflexjs/gatsby-theme-doc` to my `gatsby-config.js` file with different `contentPath` and `basePath` values, which would allow me to segment the two product routes more, but it doesn't handle subfolders within the product folder. I imagine a change would be needed to `gatsby-node.js`, but I don't think that file can be shadowed.

[2020-11-27 23:15] arshad commented on #123
Yeah. I can take a look at it.

The other themes support subfolders so I think it should be easy to add.

[2020-12-01 09:09] rsexton404 opened #126 "Dropdowns with links in them disappear on hover in develop mode"
If I have a dropdown in my header with a link in it it will disappear on hover just after first load the page—but only in develop mode. It works fine if there is just text content with no link components in the dropdown. Probably has something to do with the initial state of `isOpen` being handled differently in develop mode.

Here's a quick screen recording of the issue:
![image](https://user-ima

[2020-12-02 03:59] rsexton404 commented on #126
BTW, this only seems to happen if the dropdown contains a `<Link>` component. If you swap out an `<a>` it doesn't disappear.

[2020-12-02 05:50] arshad commented on #126
I'll take a look at this. Thank you.

[2020-12-02 06:12] rsexton404 commented on #126
I noticed that only hovering over a `<Link>` whose route is not the current page will cause the issue. Also, if you try opening the dropdown again and hover over that same link again, it will not disappear (unless you hover any other links that aren't routing to the current page and haven't been hovered over once yet). I don't quite get how that would cause the whole parent component to re-render

[2020-12-07 12:51] RishikeshDarandale opened #130 "@reflexjs/ui vs reflexjs package"
I see that recently `reflexjs` announced the support for `next.js`. Having said above, can you please describe how `reflexjs` package supported over `@reflexjs/ui` package?

Basically, I wanted to understand once `reflexjs` becomes `GA`, `@reflexjs/ui` gets deprecated? If no, then which one would be great to use with `next.js`? What would be maintainability of `ui` package?

[2020-12-07 13:02] arshad commented on #130
Sure. We are going to deprecate `@reflexjs/ui` and `@reflexjs/components` in favor of `reflexjs`. A codemod will be available to migrate your existing components to `reflexjs`.

The biggest changes are:

- No more component import required. `Div`, `Img`, `H1` are replaced by JSX: `div`, `img` and `h1`.
- Presets, while still supported, will be replaced by a `theme.js` file that you can generate us

[2020-12-07 13:11] RishikeshDarandale commented on #130
Thanks for the update @arshad !

IMO, presets with theme support should be there same as `theme-ui`. So that with minimum changes one can get started, anyway we can use it like below:

[code]

What is the timeframe you guys are targeting?

[2020-12-07 13:24] arshad commented on #130
Yes. We are keeping the `preset` support.

By the end of this week (we're very close).

[2020-12-10 19:03] arshad commented on #130
@RishikeshDarandale The Typescript starters are up.

- [Next.js](https://github.com/reflexjs/nextjs-starter)
- [Next.js (Typescript)](https://github.com/reflexjs/nextjs-starter-typescript)
- [Gatsby](https://github.com/reflexjs/gatsby-starter)
- [Gatsby (Typescript)](https://github.com/reflexjs/gatsby-starter-typescript)

[2020-12-11 05:13] arshad commented on #111
@LocTran016 Did you figure this out?

[2020-12-11 05:13] #103 closed

[2020-12-11 05:14] arshad commented on #90
@RishikeshDarandale ok to close this one?

[2020-12-11 06:15] LocTran016 commented on #111
Yes close it now

[2020-12-11 06:15] #111 closed

[2020-12-11 12:22] RishikeshDarandale commented on #90
yes @arshad

[2020-12-11 12:22] #90 closed

[2020-12-11 12:29] RishikeshDarandale commented on #130
@arshad , one more thing while using [blocks](https://reflexjs.org/blocks/cards-002), variants like `test.paragraph`, `text.sm`, `text.link` are missing. I took the updated package today, but still they are missing. Can you please update the base file?

IMO, it would be be great if you update in `preset-base` package!

[2020-12-11 16:10] arshad commented on #130
@RishikeshDarandale I'll take a look at it. Thanks for the heads up.

[2020-12-12 18:47] rayandrews opened #131 "Cannot compile in `next.js` or `blitz.js` if using `<>`"
Hi thanks for the library!

I want to use this library to create dashboard.

However, I found bug that is little annoying.
Fortunately it is actually fixable.

The `React.Fragment` can be written in `<>` form, however, the compilation will throw error at least for `next.js` and `blitz.js`.

How to reproduce:

Just put fragment in `<>` form everywhere (for easy reproduce put it in index page)

Here

[2020-12-13 03:00] arshad commented on #131
Woah. I'm definitely seeing this issue too.

Can you create a PR please? If not, that's ok. I'll fix it later.

Thank you for looking into this. Really appreciate it.

[2020-12-13 05:39] rayandrews commented on #131
I have opened the PR at #132

Thank you @arshad!

[2020-12-13 10:26] #131 closed

[2020-12-13 15:43] rxdu opened #133 "Migration guide or updated documentation?"
Hello,

I'm a JS/Gatsby beginner trying to set up a personal site with reflexjs. I can see reflexjs provides a lot of functionalities and it's quite easy to get the starter up and running.

But then I get lost for the next steps. It seems the legacy docs provide a lot more details than the current one but I'm not sure how to take advantage of those docs to work with the latest code. For example, s

[2020-12-13 17:12] arshad commented on #133
Hi @rxdu, the docs are still in the works and unfortunately this is taking a bit longer.

But I'd be happy to help you.

You can post your questions here and we can figure it out together.

[2020-12-14 15:37] rxdu commented on #133
Thank you very much! As one of the first steps to customize the starter theme (gatsby-starter-typescript), I'm trying to change colors. Since 'color modes" is one of the highlighted features and I notice there is already "dark" defined in "theme.ts" but I failed to find the right place to activate this mode. Any suggestions?

[2020-12-14 17:24] arshad commented on #133
Sure. You can define your theme colors as follows:

[code]

Then use the `useColorMode` hook to set the color mode.

See https://reflexjs.org/docs/theming/color-modes#setting-the-color-mode

I created a sandbox here with a color mode toggle: https://codesandbox.io/s/reflexjs-color-mode-toggle-qxp5f?file=/src/components/color-mode-toggle.tsx

![color-mode](https://user-images.githubusercontent.com/

[2020-12-15 00:57] rxdu commented on #133
Thanks for the sample code and links. Missed the doc page for this topic, my bad. Will spend more time reading documentation before asking more questions like this one.

[2020-12-18 10:17] #115 closed

[2020-12-18 14:27] LocTran016 opened #135 "[Question] Setting to make Utterances theme depend on site theme"
Hello,
I have already add Utterances to my site (in [comment.jsx](https://github.com/LocTran016/loctran016.github.io/blob/main/src/%40reflexjs/gatsby-theme-post/comment.jsx)) and I want to make utterances theme dependent on the color mode. I've tried like this (doesn't work, break the rule of hooks). I was wondering if anyone here could give me some advices. Thanks
[code]
Figured this out

[2020-12-19 09:48] LocTran016 commented on #135
I also tried to add like this but it failed (the comment didn't show)

[code]
![image](https://user-images.githubusercontent.com/64778285/102686383-037c6900-421a-11eb-9a7e-e07801752080.png)

[2020-12-19 09:57] LocTran016 commented on #135
I'm still using old (legacy) reflexjs because there isn't any migrating guide, here is my package.json as well:
[code]

[2020-12-20 02:12] #135 closed

[2020-12-29 01:04] rxdu commented on #133
I've managed to migrate my personal site from Jekyll to gatsby with your starter (BTW my site: https://rdu.im) and I found the discussion in issue #123 particularly helpful for my case. Still need to spend more time on JS and React/Gatsby to make more customizations. But I really want to thank you again for your help and your great work!

[2020-12-30 02:19] arshad commented on #133
The site is looking really nice. Congrats on the launch @rxdu

[2021-01-07 23:02] benbehringer opened #138 "Updating preset-base@0.3.0 to 0.3.1 results in layout issues"
Hi,

I updated preset-base to 0.3.1, yet the [commit](https://github.com/reflexjs/reflexjs/commit/aed176521a13f32104895a490ed51f39fd4abb9b) seems to introduce breaking changes to my layout (e.g., links are not styled anymore, markdown styling doesn't work anymore, etc.).

Thanks
Ben

[2021-01-08 04:31] arshad commented on #138
hmm I see. We made some changes to preset-base to work with the latest reflexjs but we probably don't need this anymore. Can you revert back to a previous version for now? We'll look into a fix.

Thank you

[2021-01-08 08:48] benbehringer opened #139 "Unable to open dropdown menu in developer mode (@Chrome)"
Hi,

I have a dropdown menu, which works just fine until I enter developer mode on Chrome (i.e., the popup doesn't show up after hovering the parent element). Not sure whether this is a reflexjs issue or not ;)

Thanks
Ben

[2021-01-08 11:03] arshad commented on #139
Can you help me reproduce this? Code snippet or a screenshot. Thank you

[2021-01-25 10:06] benbehringer commented on #139
Actually it is not related to developer mode, but to the browser window width. As soon as it's not on full width (first breakpoint) the popup doesn't show up anymore. Any ideas?
Hamburger menu works as expected!

[2021-01-25 10:57] benbehringer commented on #139
Okay, found the issue (cf. pull request https://github.com/reflexjs/reflexjs/pull/142)

[2021-01-26 09:14] #139 closed

[2021-02-06 00:03] mattmaker opened #145 "Reflex site loads desktop version on mobile"
I just finished a site using the latest version of Reflex and when I load it on mobile it shows the desktop version of the site.

The old legacy version worked just fine.

I checked lighthouse and it says the site is missing the `<meta name="viewport">` tag.

I tried it on a fresh install of Reflex and got the same thing.

How can I fix this? Should I install `gatsby-plugin-react-helmet` ?

[2021-02-09 10:25] arshad commented on #145
Did you figure this out? Are you using one of the starters?

[2021-02-09 11:14] mattmaker commented on #145
I haven't figured it out yet. I'm using the Gatsby starter.

I was searching through closed issues to see if anyone had this happen before and noticed you said the meta tags package uses React Helmet.

I tried installing React Helmet and also tried the `@reflexjs/gatsby-plugin-metatags` plugin, but wasn't exactly sure what I was doing and ended up breaking things.

I think if I can just add React

[2021-02-09 11:40] arshad commented on #145
Let me see if I can reproduce this.

[2021-02-09 12:04] arshad commented on #145
OK I think I know what's happening here. This is coming from `reflexjs`.

`<meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no;" />`

The `content` attribute here is being treated as a style prop (the CSS [content](https://developer.mozilla.org/en-US/docs/Web/CSS/content) property).

Looking into a fix (we probably need a blacklist of tags that should not be fed to t

[2021-02-09 12:14] arshad commented on #145
From the [specs](https://developer.mozilla.org/en-US/docs/Web/HTML/Attributes), `content` attribute can only be used on `meta` tag.

I guess we can add a check for now.

[2021-02-09 13:13] arshad commented on #145
I fixed it and tagged reflexjs 1.0.3.

Can you update and test?

Thank you

[2021-02-09 19:28] mattmaker commented on #145
Thanks @arshad !! Works great now.

Also I'm not sure if I should open a new issue for this, but in the future if I want to add metatags for SEO purposes how would I go about doing that?

[2021-02-10 06:58] arshad commented on #145
The `@reflexjs/gatsby-plugin-metatags` works best with `mdx`content and the other reflexjs plugins.

If you're not using mdx, you can use https://www.gatsbyjs.com/plugins/gatsby-plugin-react-helmet/

[2021-02-12 20:26] mattmaker commented on #145
So if I understand correctly, `@reflex/gatsby-plugin-metatags` would work best with the legacy version of Reflex, and `gatsby-plugin-react-helmet` for the regular version right?

Since the legacy version comes with the metatags plugin, should I just shadow the `metatags.js` file?

[2021-02-15 16:09] pipifix commented on #133
I would like to bump this issue.  A migration guide and getting rid of the legacy doc would be wonderful. Thanks for your work @arshad

[2021-02-15 18:20] #145 closed

[2021-02-16 13:15] arshad commented on #133
@pipifix I just published the migration guide: https://reflexjs.org/docs/migrate

Note: I've tested this guide with the official legacy.reflexjs.org site and the base starter. Let me know if you find any issues.

[2021-02-18 11:04] pipifix opened #147 "Updating @reflex/gatsby-theme-base 0.3.12 to 0.6.8 results in layout issues"
Hallo, arshad. Thanks a lot fpr your work

In relation to this issue  https://github.com/reflexjs/reflexjs/issues/138 the update of @reflex/gatsby-theme-base 0.3.12 to 0.6.8 is causing layout and styling bugs (e.g., links are not styled anymore, markdown styling doesn't work anymore, etc.).

[2021-02-18 12:11] arshad commented on #147
@pipifix Can you help me debug this? This upgrade is kinda tricky because it span multiple packages.

Can you share the code where it's breaking or screenshot?

Thank you

[2021-03-10 09:05] ftes opened #149 "variant prop ignored when passed to custom component"
# Input
[code]

# Output
![image](https://user-images.githubusercontent.com/2614732/110604056-f66f7600-8187-11eb-92e8-60ede945cfd3.png)

# Expected output
I expect the third line (`CompWithVariant`) to be rendered with the `heading.h3` variant.

Passing style props to a custom component works as expected.
Passing a variant prop to a regular DOM tag (`div`) works as expected.
Passing a variant prop

[2021-03-10 09:28] arshad commented on #149
I've been able to reproduce this. Looking into it.

Thanks for filing this bug.

[2021-03-10 10:26] arshad commented on #149
@ftes Is this a blocker? Just so I can set priority. Thank you.

[2021-03-10 12:13] ftes opened #150 "Responsive fontSize in "default" styles not resolved"
# Input
[code]

# Output
[code]

[code]

# Expected output
Multiple CSS definitions with media queries for the `h1` .
The `*xl` font sizes should be translated into the correct `rem` sizes.

[2021-03-10 13:08] ftes commented on #149
Not a blocker for me.

I can work around it by adding the variant inside the custom component for now (the variant is static, always the same, for my use case).

[2021-03-11 11:46] ftes opened #151 "Unable to use style props in mdx (gatsby)"
# Input
[code]

[code]

# Output
[code]

The `bg` style prop is ignored. No CSS class is added to the rendered div.

# Expected output
The style prop should be applied via a generated CSS class.

# Remarks
Can I override the jsx pragma used by `gatsby-plugin-mdx` with `reflexs.jsx`?

[2021-03-11 20:12] ftes opened #154 "Gatsby hydration issue"
# Input
[code]

Run `gatsby build && gatsby serve`

# Output
![hydration-issue](https://user-images.githubusercontent.com/2614732/110848124-02555800-82ae-11eb-9fb5-9bb7730a2d4b.gif)

When hovering over the link, further data is fetched and the styles "break". I assume this is somehow related to hydration, or at least the first client-side re-render.

The global styles (`styles.global` in `theme.js

[2021-03-11 20:18] ftes commented on #154
Also posted here: https://github.com/system-ui/theme-ui/issues/1568

[2021-03-11 20:37] ftes commented on #154
Update: The issue seems to be triggered by the gatsby prefetch mechanism when hovering over the link.
Not all links cause the styles to break. But certain ones always do, every time.

I cannot yet pinpoint what distinguishes those links from others

[2021-03-11 21:11] ftes commented on #154
Update: I narrowed down which prefetched pages cause the bug.
Affected: Hovering over a link to any page that executes the `@emotion/react` `keyframes` method.

Example:
[code]

Note that `keyframes` is called, but the result is not actually consumed anywhere.

[2021-04-01 12:29] arshad commented on #151
The style props are not enabled by default for MDX.

You can pass `Box` (`import { Box } from "reflexjs"`} to MDX component and use this for styling.

This should work too.

[2021-04-01 12:59] arshad commented on #150
The `theme.styles` object is the primarily use to style MDX. If you want the global `h1` to use variants you can do so like this:

[code]

[2021-04-01 14:31] arshad commented on #149
This is now fixed and tagged under the 1.1.0 release.

I looked at this the other day and couldn't figure it out. Gave it another go today and took 30min to fix.

Programming is weird :D

[2021-04-01 14:31] #149 closed

[2021-04-01 14:32] arshad commented on #149
Here's the test just in case

https://github.com/reflexjs/reflexjs/blob/e444c860a57c2499c372c65e65b1fe0c49890d02/packages/reflexjs/test/index.test.js#L265-L284

[2021-04-01 14:49] ftes commented on #149
Neat, thanks! I will try this out in the next days.

[2021-04-09 19:33] ftes commented on #151
Have you done this before by any chance?

[2021-04-20 18:31] #130 closed

[2021-04-20 18:33] #133 closed

[2021-05-05 17:56] mattmaker opened #164 "Can't click away to close menu"
When I open the menu on mobile devices or small browser windows, I can't click or tap away to close the menu.

It seems like it just needs an onClick event but I'm not sure how to do it.

What would you recommend?

[2021-05-06 09:21] arshad commented on #164
Which starter are you using?

[2021-05-06 12:56] thomashacker opened #165 "npm run build causes error in theme"
[code]

This error comes only when using the build command. No issues when using ```run dev```

[2021-05-06 15:12] arshad commented on #165
This is a change in the types for v2. Can you change your theme fontWeights from string to numbers?

[code]

https://github.com/reflexjs/reflexjs/blob/e5768a97c410fb0ef2fc0e792917654a9af1d41e/packages/reflexjs/stubs/base.theme.js#L106-L116

[2021-05-06 22:42] mattmaker commented on #164
I'm using the gatsby starter

[2021-05-11 10:19] thomashacker commented on #165
Hey, thanks for the reply!
I changed every attribute to numbers
It seems that the last error is fixed but now there's more :)

[code]

[2021-05-11 12:08] thomashacker commented on #165
The only changes in the ```theme.ts``` were in the fontWeights. The rest is unchanged

[code]

[2021-05-20 17:52] mattmaker commented on #164
@arshad Any help on how to fix this with the gatsby starter?

[2021-06-23 21:25] mattmaker commented on #164
@arshad Any help with this?

[2021-07-25 14:18] achchu93 opened #180 "Gatsby browser JS imported component props ignored"
[code]

[code]

When the Header component is imported to other places like pages or sub components it works. If we imported it to gatsby-browser.js the prop styles are ignored. Any specific config for that?

[2021-07-25 18:57] achchu93 opened #181 "SVG fill attribute"
I tried these 2 ways.
1. Tried to use theme colors to fill attribute
2. Tried `sx` to add fill attribute values

None of the method works here. Doesn't this plugin support SVG fill attribute

[2021-07-28 16:27] achchu93 commented on #180
@arshad your help would appreciated!

[2021-07-29 11:36] arshad commented on #180
@achchu93 I'll take a look at it. Honestly, been a while since I looked into Gatsby.

[2021-08-09 06:07] deeplinked opened #183 "nav burger svg not showing (on gatsbyjs)"
installed as gatsby starter and copied the code for header from blocks library, nav burger svg not showing.

![2021-08-09 11_33_00-Window](https://user-images.githubusercontent.com/62131140/128665586-39cbd1cf-5a05-4322-9c36-5416218e709e.png)

[2021-08-09 06:56] arshad commented on #183
Hmm can you inspect and confirm if the svg is in there?

[2021-08-09 07:52] deeplinked commented on #183
no svg inside button
![2021-08-09 13_20_02-Window](https://user-images.githubusercontent.com/62131140/128674634-55bcc0f8-e4de-499c-bc04-623e048a662f.png)

[2021-08-09 08:26] arshad commented on #183
I see. You probably need to add the icon your theme file `src/gatsby-plugin-reflexjs/index.js`.

[code]

[2021-08-09 10:35] deeplinked commented on #183
after adding this got it, thanks a lot :)

[2021-08-09 10:35] #183 closed

[2021-09-20 05:36] deeplinked opened #194 "Do i have to install any plugin to make images to work in reflex? (Gatsby js)"
images are not loading.

![2021-09-20 11_03_44-Window](https://user-images.githubusercontent.com/62131140/133960607-b6eb34b6-c7ad-4943-b75b-89692380a4c4.png)

sorry if this seems to be a dumb question, new to react finding it a bit hard to learn gatsby.

![2021-09-20 10_54_12-Window](https://user-images.githubusercontent.com/62131140/133960019-ef36fded-f91b-46cc-96a3-ce7a487cadd2.png)
![2021-09-20

[2021-09-20 05:48] shadcn commented on #194
Place the images in the `static` folder. See https://www.gatsbyjs.com/docs/how-to/images-and-media/static-folder/

[2021-09-20 08:40] deeplinked commented on #194
thanks a lot, that worked. you are awesome, every time replying swiftly :) closing the issue.

[2021-09-20 08:40] #194 closed

[2022-06-05 09:37] estudiooka opened #231 "Reflex JS vs Theme UI. What is the diference ?"
I am trying to decide the framework to work with .
Could you please , point out some advantages in using Reflex Instead of Theme UI it self ?
Can we use both ?

Thanks.

[2022-06-05 09:38] estudiooka commented on #231
Moving to discussions ...

[2022-06-05 09:38] #231 closed, assigned to nobody